// Job Portal Intro
.job-portal-intro .bottom-border {
    border-bottom: 1px solid #EBEBEB;
}
.job-portal-intro .top-border {
    border-top: 1px solid #EBEBEB;
}
.job-portal-intro h2 {
    font-size: 55px;
}
// Inner Banner One
.inner-banner-one {
    background: $color-one;
    padding: 150px 0 115px;
    z-index: 9;
    .blog-pubish-date{
        justify-content: center;
        .post_tag{
            color: #fff;
            a{
                color: #fff;
            }
            .author {
                font-weight: 500;
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    h1 {
        color: #fff;
        span {
            display: block;
            color: $color-two;
        }
    }
    p{
        font-size: 22px;
        color: #fff;
        margin-top: 30px;
    }
    .post-date {
        color: rgba($color: #fff, $alpha: 0.5);
        margin: 25px 0 10px;
        a:hover {
            text-decoration: underline;
        }
    }
    .share-buttons li {
        margin: 5px 4px 0;
        a {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            line-height: 33px;
            border-radius: 5px;
            padding: 0 15px;
            margin-top: 5px;
            background: rgba($color: #fff, $alpha: 0.2);
            @include transition(0.2s);
            i {
                font-size: 13px;
                margin-right: 7px;
            }
            &:hover {
                background: $color-three;
                color: #fff;
            }
        }
    }
    .page-pagination li {
        font-size: 17px;
        color: #fff;
        margin: 0 2px;
        i {
            font-size: 0.8em;
        }
        a:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
    .shape_01 {
        top:14px;
        right: 37%;
    }
    .shape_02 {
        bottom: 0;
        left: 0;
    }
    .candidate-profile-card {
        background: url(../images/shape/shape_34.svg) repeat-x;
        background-size: cover;
        border: none;
        .candidate-post {
            color: rgba($color: #fff, $alpha: 0.4);
        }
        .candidate-info span {
            color: rgba($color: #fff, $alpha: 0.6); 
        }
        .candidate-info div {
            color: #fff;
        }
        .cv-download-btn {
            line-height: 38px;
            border: 1px solid #fff;
            border-radius: 40px;
            color: #fff;
            font-size: 15px;
            letter-spacing: -0.5px;
            padding: 0 20px;
            &:hover {
                background: #375749;
                border-color: #375749;
            }
        }
        .cadidate-skills li {
            background: #375749;
            color: rgba($color: #fff, $alpha: 0.55);
        }
        &.list-layout .save-btn {
            background: #375749;
            border-color: #fff;
            color: #fff;
        }
        &.list-layout .cadidate-skills {
            position: static;
        }
    }
}