.jobly_job_details {
  .details-post-data {
    .wp-block-group {
      border: 1px solid #000000;
      border-radius: 20px;
      padding: 35px 40px 20px;
      margin-bottom: 30px;
      @media (max-width: 540px) {
        padding: 32px 24px 16px
      }
      .wp-block-heading {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family: "gordita";
        margin: 0;
        code {
          mark {
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 100%;
            margin-right: 0.5rem;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        padding-left: 0;

        li {
          position: relative;
          font-size: 17px;
          margin-top: 20px;
          padding-left: 30px;
          line-height: 1.882em;
          list-style: none;

          &:before {
            content: "\f633";
            font-family: bootstrap-icons;
            position: absolute;
            left: 0;
            top: 0;
            color: #31795A;
          }
        }
      }
    }
  }
}


.jobly_job_details_2 {
  .details-post-data {
    .job-meta-data-two {
      margin-bottom: 50px;
    }

    .wp-block-heading {
      font-size: 22px;
      font-family: "gordita";
      margin: 0;
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        position: relative;
        font-size: 17px;
        margin-top: 20px;
        padding-left: 30px;
        line-height: 1.882em;

        &::before {
          content: "\f26a";
          font-family: bootstrap-icons;
          position: absolute;
          left: 0;
          top: 0;
          color: #31795A;
        }
      }
    }
  }
}


.category-section-two {
  .card-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &:before {
    height: 100% !important;
  }
}

// job listing style two css 
.category-section-three {
  padding-top: 80px;

  .slider-arrows {
    top: 0 !important;
  }
}

.card-style-six .text {
  padding: 20px;
}