.jobly-registration-section {
  .user-data-form {
    background: #fff;
    margin: 0 auto;
    max-width: 720px;
    border-radius: 20px !important;
    padding: 50px 15px 50px;
    h2 {
      font-size: 50px;
      font-weight: normal;
      color: $color-one;
    }
    p a {
      color: $color-five;
      &:hover {
        text-decoration: underline;
      }
    }
    .form-wrapper {
      max-width: 565px;
      .input-group-meta {
        input {
          width: 100%;
          height: 55px;
          font-size: 16px;
          border:1px solid rgba($color: #000000, $alpha: 0.06);
          border-radius: 8px;
          padding: 0 52px 0 20px;
          color: #000;
          background: rgba($color: #31795A, $alpha: 0.09);
        }
        label {
          font-size: 14px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.5);
          display: block;
          margin-bottom: 6px;
        }
        .placeholder_icon {
          position: absolute;
          height: 55px;
          top:27px;
          right:0;
          bottom: 0;
          width: 50px;
          text-align: center;
          z-index: 1;
          color: rgba(0,0,0,0.45);
          font-size: 17px;
        }
        .placeholder_icon img {
          position: relative;
          top:50%;
          margin: 0 auto;
          transform: translateY(-50%);
        }
        .placeholder_icon span {
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: block;
          position: relative;
        }
        .placeholder_icon span:before {
          content: '';
          width: 2px;
          height: 26px;
          background: #000;
          position: absolute;
          top:14px;
          left: 24px;
          transform: rotate(45deg);
          z-index: 5;
          transition: all 0.2s ease-in-out;
        }
        .placeholder_icon span.eye-slash:before {opacity: 0;}
      }
    }
    .agreement-checkbox label {
      position: relative;
      font-size: 15px;
      letter-spacing: -0.5px;
      color: $color-one;
      cursor: pointer;
      padding-left: 22px;
      transition: all 0.1s ease-in-out;
    }
    .agreement-checkbox label a {
      color: $color-five;
      text-decoration: underline;
    }
    .agreement-checkbox input[type="checkbox"] {display: none;}
    .agreement-checkbox label:before {
      content: '';
      width: 14px;
      height: 14px;
      line-height: 11px;
      border-radius: 2px;
      border: 2px solid #B3B3B3;
      font-size: 12px;
      text-align: center;
      position: absolute;
      left:0;
      top:4px;
      transition: all 0.1s ease-in-out;
    }
    .agreement-checkbox input[type="checkbox"]:checked + label:before {
      content: "\f633";
      font-family: bootstrap-icons !important;
      background: #000;
      color: #fff;
      border-color:  #000;
    }
    .agreement-checkbox a {
      position: relative;
      font-size: 15px;
      color: #1E1E1E;
    }
    .agreement-checkbox a:hover {
      text-decoration: underline;
      color: $color-five;
    }
    .line {
      height: 1px;
      width: 100%;
      background: rgba($color: #000000, $alpha: 0.2);
    }
    .social-use-btn {
      font-size: 15px;
      color: #000;
      height: 55px;
      border: 1px solid #E5E5E5;
      border-radius: 7px;
      &:hover {
        background: rgba($color: #000000, $alpha: 0.06);
      }
    }
    .btn-close {
      position: absolute;
      right: 15px;
      top:15px;
      box-shadow: none;
      z-index: 1;
    }
    .nav {
      background: #F0F5F3;
      border-radius: 40px;
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 40px;
      .nav-item {
        width: 50%;
        list-style: none;
        .nav-link {
          display: block;
          width: 100%;
          border: 1px solid transparent;
          border-radius: 40px;
          font-size: 18px;
          color: rgba($color: #000000, $alpha: 0.5);
          &.active {
            color: $color-five;
            border-color: $color-five;
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        form {
          .input-group-meta {
            margin-bottom: 25px;
          }
        }
      }
    }

  }
}