.dashboard-body {
  .placeholder_icon {
    position: absolute;
    height: 60px;
    top: 30px;
    right: 0;
    bottom: 0;
    width: 50px;
    text-align: center;
    z-index: 1;
    color: rgba(0, 0, 0, 0.45);
    font-size: 17px;
    span {
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: block;
      position: relative;
      &::before {
        content: "";
        width: 2px;
        height: 26px;
        background: #000;
        position: absolute;
        top: 16px;
        left: 24px;
        transform: rotate(45deg);
        z-index: 5;
        transition: all 0.2s ease-in-out;
      }
      &.eye-slash::before {
        opacity: 0;
      }
      img {
        position: relative;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);
      }
    }
  }
}

