@import "admin/job_application";






/* META [ JOB SPECIFICATIONS ] */
.job_specifications {
    .csf-fieldset {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;

        .csf-after-text {
            margin-left: -30px;
            i {
                font-size: 20px;
            }
        }
    }
}

.csf-field-repeater .csf-repeater-content {
    background-color: #f5f5f5;
}

.csf-field-repeater .csf-repeater-helper {
    background-color: #ebebeb;
}

#jobly_meta_options {
    .job_specifications {
        .csf-after-text {
            i {
                font-size: 20px;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}