body.body_dark {

  // Brand & Base Colors
  --bs-white: #1d2027 !important;

  // Opacity & Special Colors
  //--white_op20: rgba(0, 0, 0, 0.5) !important;

  // Grayscale Palette
  //--black_900: #f1f1f1 !important;
  //--black_800: #e9e9e9 !important;
  //--black_700: #e1e1e1 !important;
  //--black_600: #bebebe !important;
  //--black_500: #b9b9b9 !important;
  //--black_400: #a2a2a2 !important;
  //--black_200: #757474 !important;
  //--black_150: #646464 !important;
  //--black_100: #d4d4d4 !important;
  //--black_75: #535353 !important;
  //--black_50: #3b3b3b !important;
  //--black_25: #2e2d2d !important;

  // Border Colors
  //--border_on_highlight: #393e4b !important;
  //--border_on_white: #2c303a !important;

  /**=== Integration with Docy === **/
  .jobus-job-classic {
    background: var(--body_bg) !important;

    .filter-area-tab {
      .light-bg {
        background: var(--bs-white) !important;
      }

      .filter-title {
        color: var(--black_900) !important;
      }

      .main-body {
        ul {
          li {
            label {
              color: var(--black_600) !important;
              background: var(--bs-white) !important;
            }
          }
        }

        .tags {
          label {
            background: var(--black_50) !important;
            color: var(--black_400) !important;

            &:hover {
              background: var(--black_75) !important;
              color: var(--black_100) !important;
            }
          }
        }
      }
    }

    .main-title {
      color: var(--black_900) !important;
    }

    .upper-filter {
      .total-job-found, .jbs-text-dark {
        color: var(--black_600) !important;
      }
    }

    .job-list-one,
    .job-list-two {
      background: var(--bs-white) !important;
      border-color: var(--white_op10) !important;

      .title {
        color: var(--black_100) !important;
      }

      .job-location,
      .job-category {
        a {
          color: var(--black_400) !important;
        }
      }

      .jbs-text-dark {
        color: var(--p_color) !important;
      }

      .save-btn {
        background: transparent !important;

        &:hover {
          background: var(--black_50) !important;
        }
      }
    }

    .jbs-nice-select {
      &::after {
        border-bottom-color: var(--black_400) !important;
        border-right-color: var(--black_400) !important;
      }
    }

    .style-changer-btn {
      background: var(--bs-white) !important;
      border-color: var(--white_op10) !important;

      i {
        color: var(--black_400) !important;
      }
    }

    .pagination-wrap {
      p, .jbs-text-dark {
        color: var(--black_600) !important;
      }
    }

  }

  .jobus_job_details {

    .job-head {
      .post-date, .jbs-text-dark {
        color: var(--black_600) !important;
      }
    }

    .wp-block-group {
      background: var(--bs-white) !important;

      .wp-block-heading, p a {
        color: var(--black_100) !important;
      }
    }

    .job-company-info {
      background: var(--bs-white) !important;

      ul {
        li {
          span {
            color: var(--black_100) !important;
          }

          div {
            color: var(--black_400) !important;
          }
        }
      }

      .job-tags {
        a {
          background: var(--black_50) !important;
          color: var(--black_400) !important;

          &:hover {
            background: var(--black_75) !important;
            color: var(--black_100) !important;
          }
        }
      }
    }
  }

  .related-job-section {
    background: var(--body_bg) !important;

    .related-job-slider {
      .job-list-two {
        background: var(--bs-white) !important;
        border-color: var(--white_op10) !important;

        .jbs-text-dark {
          color: var(--p_color) !important;
        }

        .job-location {
          a {
            color: var(--black_400) !important;
          }
        }
      }
    }
  }

  // Job List & Wrapper Styles
  .job-list-two,
  .job-listing-one .job-list-one,
  .big-circle .brand-icon {
    background: var(--bs-white) !important;
    border-color: var(--border_on_highlight) !important;
  }

  .job-list-two .job-duration {
    background: var(--black_50) !important;
    color: var(--black_400) !important;
  }

  .big-circle {
    background: var(--bs-white) !important;
  }

  .job-listing-wrapper {
    &.border-wrapper {
      border-color: var(--border_on_white) !important;
    }

    .job-date {
      color: var(--black_400) !important;
    }
  }

  // Job Search Form
  .job-search-one {
    form,
    .jbs-nice-select {
      background: var(--bs-white) !important;
    }

    form {
      .input-box {
        .label {
          color: var(--black_900) !important;
        }

        input {
          color: var(--black_100) !important;
        }
      }

      .jbs-nice-select .current {
        color: var(--black_100) !important;
      }
    }
  }

  // Expert & Feedback Sections
  .expert-section-one {
    .card-style-three .post {
      color: var(--black_100) !important;
    }
  }

  .feedback-block-one {
    background: var(--bs-white) !important;

    .review {
      border-top-color: var(--border_on_highlight) !important;
    }
  }

}