body.body_dark {

  /**=== Integration with Docy === **/
  .jbs-job-classic {
    background: var(--body_bg) !important;

    .filter-area-tab {
      .light-bg {
        background: var(--bs-white) !important;
      }

      .filter-title {
        color: var(--black_900) !important;
      }

      .main-body {
        ul {
          li {
            label {
              color: var(--black_600) !important;
              background: var(--bs-white) !important;
            }
          }
        }

        .tags {
          label {
            background: var(--black_50) !important;
            color: var(--black_400) !important;

            &:hover {
              background: var(--black_75) !important;
              color: var(--black_100) !important;
            }
          }
        }
      }
    }

    .main-title {
      color: var(--black_900) !important;
    }

    .upper-filter {
      .total-job-found, .jbs-text-dark {
        color: var(--black_600) !important;
      }
    }

    .job-list-one,
    .job-list-two {
      .title {
        color: var(--black_100) !important;
      }

      .job-location,
      .job-category {
        a {
          color: var(--black_400) !important;
        }
      }

      .jbs-text-dark {
        color: var(--p_color) !important;
      }

      .save-btn {
        background: transparent !important;

        &:hover {
          background: var(--black_50) !important;
        }
      }
    }

    .jbs-nice-select {
      &::after {
        border-bottom-color: var(--black_400) !important;
        border-right-color: var(--black_400) !important;
      }
      &::before {
        filter: invert(1);
      }
    }

    .pagination-wrap {
      p, .jbs-text-dark {
        color: var(--black_600) !important;
      }
    }

  }

  .jobus_job_details {

    .job-head {
      .post-date, .jbs-text-dark {
        color: var(--black_600) !important;
      }
    }

    .wp-block-group {
      .wp-block-heading, p a {
        color: var(--black_100) !important;
      }
    }

    .job-company-info {
      background: var(--bs-white) !important;

      ul {
        li {
          span {
            color: var(--black_100) !important;
          }

          div {
            color: var(--black_400) !important;
          }
        }
      }

      .job-tags {
        a {
          background: var(--black_50) !important;
          color: var(--black_400) !important;

          &:hover {
            background: var(--black_75) !important;
            color: var(--black_100) !important;
          }
        }
      }
    }
  }

  .jbs-related-job {
    background: var(--body_bg) !important;

    .jbs-related-job-slider {
      .job-list-two {
        background: var(--bs-white) !important;
        border-color: var(--white_op10) !important;

        .jbs-text-dark {
          color: var(--p_color) !important;
        }

        .job-location {
          a {
            color: var(--black_400) !important;
          }
        }
      }
    }
  }

  // Job List & Wrapper Styles
  .job-list-two,
  .job-listing-one .job-list-one,
  .big-circle .brand-icon {
    background: var(--bs-white) !important;
    border-color: var(--border_on_highlight) !important;
  }

  .job-list-two .job-duration {
    background: var(--black_50) !important;
    color: var(--black_400) !important;
  }

  .big-circle {
    background: var(--bs-white) !important;
  }

  .job-listing-wrapper {
    &.border-wrapper {
      border-color: var(--border_on_white) !important;
    }

    .job-date {
      color: var(--black_400) !important;
    }
  }

  // Job Search Form
  .job-search-one {
    form,
    .jbs-nice-select {
      background: var(--bs-white) !important;
      &::after {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
      }
    }

    form {
      .input-box {
        .label {
          color: var(--black_900) !important;
        }

        input {
          color: var(--black_100) !important;
        }
      }
    }
    .tags {
      .jbs-text-white {
        color: var(--black_900);
      }
    }
  }

  .jbs-nice-select .current {
    color: var(--black_100) !important;
  }

  // Expert & Feedback Sections
  .expert-section-one {
    .card-style-three .post {
      color: var(--black_100) !important;
    }
  }

  .feedback-block-one {
    background: var(--bs-white) !important;

    .review {
      border-top-color: var(--border_on_highlight) !important;
    }
  }

  .jbs-modal {
    .jbs-modal-content {
        background: var(--bs-white) !important;
    }
  }

  .jbs-category-widget-one {
    .card-wrapper {
      .card-item {
        .box-info {
          .icon {
            img {
              filter: invert(1);
            }
          }
          .title, .total-job {
            color: var(--black_100) !important;
          }
          &:hover {
            .title, .total-job {
              color: var(--jbs-heading_color) !important;
            }
          }
          &:hover .icon img {
            filter: invert(0);
          }
        }
      }
    }
  }

  .spel-accordion {
    h2, h3, h4, h5, h6 {
      color: #ffffff !important;
    }
    .accordion_btn_link, .card-body p {
      color: var(--black_100) !important;
    }
  }


    .jbs-related-job {
      .jbs-slick-arrow-one {
        .slick-arrow {
          .bi-arrow-left {
            color: #fff;
          }
          .bi-arrow-right {
            color: #fff;
          }
        }
      }
    }

}