@use "jbs-framework/jbs-grid";
@use "jbs-framework/jbs-flex";
// font css

$inter: "Inter", sans-serif;
$rob: "Roboto", sans-serif;

@mixin placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

.jbs-text-capitalize {
    text-transform: capitalize !important;
}


// container

.jbs-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.jbs-container {
    width: 100%;
}

@media (min-width: 992px) {
    .jbs-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .jbs-container {
        max-width: 1140px;
    }
}

@media (min-width: 1300px) {
    .jbs-container {
        max-width: 1240px;
    }
}

@media (min-width: 1400px) {
    .jbs-container {
        max-width: 1320px;
    }
}



// width classes
.jbs-w-100 {
    width: 100% !important;
}

.jbs-w-50 {
    width: 50% !important;
}

.jbs-w-75 {
    width: 75% !important;
}

.jbs-w-25 {
    width: 25% !important;
}

// height classes
.jbs-h-100 {
    height: 100% !important;
}

.jbs-h-75 {
    height: 75% !important;
}

.jbs-h-50 {
    height: 50% !important;
}

.jbs-h-25 {
    height: 25% !important;
}

.jbs-h-auto {
    height: auto !important;
}

// utility css

.jbs-list-unstyled {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.jbs-text-center {
    text-align: center;
}

.jbs-text-white {
    color: #fff !important;
}

.jbs-text-reset {
    --bs-text-opacity: 1;
    color: inherit!important
}

// margin classes

.jbs-m-auto {
    margin: auto !important;
}

.jbs-me-auto {
    margin-right: auto !important;
}

.jbs-ms-auto {
    margin-left: auto !important;
}

.jbs-ms-3 {
    margin-left: 1rem !important;
}

.jbs-ms-md-2 {
    margin-left: 0.5rem !important;
}

.jbs-me-3 {
    margin-right: 1rem !important;
}

.jbs-me-2 {
    margin-right: 0.5rem !important;
}

.jbs-me-xxl-5 {
    margin-right: 3rem !important;
}

.jbs-pe-xxl-4 {
    padding-right: 1.5rem !important;
}

.jbs-ps-xxl-5 {
    padding-left: 3rem !important;
}

.jbs-ms-xl-5 {
    margin-left: 3rem !important;
}

.jbs-ms-xxl-0 {
    margin-left: 0 !important;
}

.jbs-flex-fill {
    flex: 1 1 auto !important
}

.jbs-position-relative {
    position: relative;
}

.jbs-rounded-circle {
    border-radius: 50% !important;
}

.jbs-align-items-center {
    align-items: center !important;
}

.jbs-justify-content-center {
    justify-content: center !important;
}

.jbs-justify-content-between {
    justify-content: space-between !important;
}

.jbs-justify-content-lg-end {
    justify-content: flex-end !important;
}

.jbs-colum-space-6 {
    width: 50%;
}

.jbs-colum-space-4 {
    flex: 1;
    width: calc(100% / 3);
    box-sizing: border-box;
}

.jbs-d-block {
    display: block !important;
}

.jbs-gx-1 {
    gap: 0.25rem !important;
}

.jbs-order-xl-0 {
    order: 0 !important
}

.jbs-order-xl-1 {
    order: 1 !important
}

.jbs-order-xl-2 {
    order: 2 !important
}
.jbs-order-xl-4 {
    order: 4 !important
}

// border classes
.jbs-border-0 {
    border: 0 !important
}

.jbs-border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.jbs-border-top {
    border-top: 1px solid #dee2e6 !important;
}

// margin bottom classes
.jbs-mb-20 {
    margin-bottom: 1.25rem !important;
}

.jbs-mb-30 {
    margin-bottom: 1.875rem !important;
}

.jbs-mb-40 {
    margin-bottom: 2.5rem !important;
}

.jbs-mb-25 {
    margin-bottom: 1.5625rem !important;
}

// margin top classes
.jbs-mt-auto {
    margin-top: auto !important;
}

.jbs-mt-20 {
    margin-top: 1.25rem !important;
}

.jbs-mt-30 {
    margin-top: 1.875rem !important;
}

.jbs-mt-70 {
    margin-top: 4.375rem !important;
}

// padding classes
.jbs-pt-2 {
    padding-top: 0.5rem !important;
}

.jbs-pb-2 {
    padding-bottom: 0.5rem !important;
}

.jbs-pt-15 {
    padding-top: 0.9375rem !important;
}

.jbs-pb-15 {
    padding-bottom: 0.9375rem !important;
}

.jbs-pt-25 {
    padding-top: 1.5625rem !important;
}

.jbs-pb-25 {
    padding-bottom: 1.5625rem !important;
}

.jbs-pb-30 {
    padding-bottom: 1.875rem !important;
}

.jbs-pb-50 {
    padding-bottom: 3.125rem !important;
}

.jbs-ps-3 {
    padding-left: 1rem !important;
}

.jbs-ps-4 {
    padding-left: 1.5rem !important;
}

.jbs-pe-4 {
    padding-right: 1.5rem !important;
}

.jbs-ms-2 {
    margin-left: 0.5rem !important;
}
// text classes
.jbs-text-dark {
    color: #212529 !important;
}

.jbs-fw-500 {
    font-weight: 500 !important;
}

// responsive utilities
@media (max-width: 575px) {
    .jbs-xs-mt-20 {
        margin-top: 1.25rem !important;
    }
}

@media (min-width: 576px) {
    .jbs-align-items-sm-center {
        align-items: center !important;
    }
    
    .jbs-align-items-start {
        align-items: flex-start !important;
    }
}

@media (max-width: 991px) {
    .jbs-lg-pb-20 {
        padding-bottom: 1.25rem !important;
    }
    
    .jbs-lg-mt-40 {
        margin-top: 2.5rem !important;
    }
    
    .jbs-md-mb-20 {
        margin-bottom: 1.25rem !important;
    }
    
    .jbs-md-mt-10 {
        margin-top: 0.625rem !important;
    }
}

@media (min-width: 992px) {
    .jbs-d-lg-none {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .jbs-sm-mt-20 {
        margin-top: 1.25rem !important;
    }
}

@media (min-width: 1200px) {
    .jbs-justify-content-xl-end {
        justify-content: flex-end !important;
    }
}