// jobus candidates rtl css ********
.filter-area-tab .nice-select {
  text-align: right !important;

  &:before {
    right: initial;
    left: 10px;
  }
}

.filter-area-tab .nice-select .option {
  text-align: right;
}

.popUpModal .modal-content .btn-close {
  left: 15px;
  right: initial;
}

.cadidate-profile-sidebar .email-form input {
  text-align: right;
}

.candidates-profile-details .inner-card.border-style > .wp-block-heading {
  right: 25px;
  left: initial;
}

.candidates-profile-details {
  .skill-tags {
    padding-right: 0;
  }

  .title {
    right: 25px;
    left: initial;
    width: fit-content;
  }
}

.candidates-profile-details .time-line-data .info {
  padding: 0 65px 45px 0;

  &:before {
    left: inherit;
    right: 22px;
  }

  .numb {
    right: 0;
    left: initial;
  }
}

.candidate-profile-card {
  .profile-btn {
    margin: 10px 0 0 !important;
  }
  .cadidate-avatar.online:before {
    right: 60px;
  }
}

.list-layout .right-side {
  padding-left: 0;
  padding-right: 30px;
}

.cadidate-profile-2-sidebar .email-form input {
  text-align: right;
}

.candidates-profile-details-2 {
  .skill-tags {
    padding-right: 0;
  }

  .time-line-data .info {
    padding: 0 65px 45px 0;

    &:before {
      left: inherit;
      right: 22px;
    }

    .numb {
      right: 0;
      left: initial;
    }
  }
}

.candidates-profile-details .candidate-portfolio-slider .slick-dots {
  right: initial;
  left: 10px;
}

.candidate-profile-card.list-layout .cadidate-skills {
  width: max-content;
  right: 0;
  padding-right: 0;
}

.candidates-profile {
  .ms-xxl-5 {
    margin-left: 0 !important;
  }
}


//jobus company rtl css ********
.upper-filter .short-filter .nice-select .option {
  text-align: right;
}

.filter-area-tab .filter-input {
  padding-right: 0;

  li {
    label::before {
      right: 0;
      left: initial;
    }

    label {
      padding-left: 0;
      padding-right: 28px;

      span {
        float: left;
      }
    }
  }
}

.filter-area-tab .input-box button {
  left: 0;
  right: initial;
}

.company-list-layout .company-data {
  padding-left: 0;
  padding-right: 29px;
}

.job-company-info .job-meta-data div {
  a {
    margin-right: 0 !important;
  }
}

.company-details .details-post-data .slick-dots {
  right: initial;
  left: 10px;
}

.company-details .details-post-data .share-option {
  ul {
    padding-right: 0;

    li a {
      margin-left: 0;
      margin-right: 6px;
    }
  }
}

.jobus_job_details .details-post-data .wp-block-group .wp-block-heading code mark {
  margin-right: 0;
  margin-left: 8px;
}

.title-three h2.main-font {
  text-align: right !important;
}

.related-job-section .slick-arrow-one {
  right: initial;
  left: 0;
  padding-right: 0;
}

.bi-arrow-left::before {
  transform: rotate(180deg);
}

.bi-arrow-right::before {
  transform: rotate(180deg);
}

//jobus job rtl css ********
.jobus_job_details .details-post-data .wp-block-group ul {
  padding-right: 0;

  li {
    padding-left: 0;
    padding-right: 30px;

    &:before {
      left: initial;
      right: 0;
    }
  }
}

.user-data-form .form-wrapper {
  .row {
    text-align: right !important;
  }

  .input-group-meta input {
    text-align: right !important;
  }
}

.card-style-one {
  width: 16.66666% !important;
}

.card-style-seven a .title {
  margin-left: 0;
  margin-right: 12px;
}

.filter-area-tab .filter-header:before {
  right: initial;
  left: 25px;
}

.job-list-one {
  .split-box1 {
    padding-left: 0 !important;
    padding-right: 30px;
  }
  .title {
    margin-right: 0;
  }
}
.error-page .btn-one img {
  transform: rotate(180deg);
}