// Card component styles moved from main/_card.scss
.card-style-one .wrapper {
    display: block;
    background: #fff;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding: 50px 15px 30px;
    border: 1px solid rgba($color: #D1ECE7, $alpha: 0.8);
    @include transition(0.3s);
    &.bg {
        border:1px solid #ffff;
        &:hover {
            background: #f5ffcb;
            border-color: #f5ffcb;
        }
    }
    .icon {
        height: 25px;
        img {
            max-height: 100%;
        }
    }
    .title {
        font-size: 18px;
        color:var(--jbs-brand_color_2);
        margin: 40px 0 50px;
        transition:0.3s;
    }
    .total-job {
        transition: 0.3s;
        font-size: 14px;
        color: rgba($color: #09321C, $alpha: 0.6);
    }
}
.card-style-two .icon {
    width: 80px;
    height: 80px;
    background: $color-two;
}
.card-style-two .title {font-size: 22px; margin: 25px 0 12px;}
.card-style-two p {color:#81B197;}
.card-style-two.arrow:before,
.card-style-two.arrow:after {
    content: url(../images/shape/arrow_01.svg);
    position: absolute;
    top:25px;
    left: -150px;
}
// ...rest of code from _card.scss...

