/* Error: Undefined variable.
 *    ,
 * 11 |       color: $color-one;
 *    |              ^^^^^^^^^^
 *    '
 *   block-editor/_register-from.scss 11:14  @import
 *   block-editor.scss 19:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502        color: $color-one;\a    \2502               ^^^^^^^^^^\a    \2575 \a   block-editor/_register-from.scss 11:14  @import\a   block-editor.scss 19:9                  root stylesheet";
}
