body.body_dark {
  /**=== Integration with Docy === **/
}
body.body_dark .jbs-job-classic {
  background: var(--body_bg) !important;
}
body.body_dark .jbs-job-classic .jbs-filter-area-tab .jbs-light-bg {
  background: var(--bs-white) !important;
}
body.body_dark .jbs-job-classic .jbs-filter-area-tab .jbs-filter-title {
  color: var(--black_900) !important;
}
body.body_dark .jbs-job-classic .jbs-filter-area-tab .jbs-main-body ul li label {
  color: var(--black_600) !important;
  background: var(--bs-white) !important;
}
body.body_dark .jbs-job-classic .jbs-filter-area-tab .jbs-main-body .jbs-tags label {
  background: var(--black_50) !important;
  color: var(--black_400) !important;
}
body.body_dark .jbs-job-classic .jbs-filter-area-tab .jbs-main-body .jbs-tags label:hover {
  background: var(--black_75) !important;
  color: var(--black_100) !important;
}
body.body_dark .jbs-job-classic .jbs-filter-heading {
  color: var(--black_900) !important;
}
body.body_dark .jbs-job-classic .jbs-upper-filter .jbs-total-job-found, body.body_dark .jbs-job-classic .jbs-upper-filter .jbs-text-dark {
  color: var(--black_600) !important;
}
body.body_dark .jbs-job-classic .jbs-job-list-one .title,
body.body_dark .jbs-job-classic .jbs-job-list-two .title {
  color: var(--black_100) !important;
}
body.body_dark .jbs-job-classic .jbs-job-list-one .jbs-job-location a,
body.body_dark .jbs-job-classic .jbs-job-list-one .jbs-job-category a,
body.body_dark .jbs-job-classic .jbs-job-list-two .jbs-job-location a,
body.body_dark .jbs-job-classic .jbs-job-list-two .jbs-job-category a {
  color: var(--black_400) !important;
}
body.body_dark .jbs-job-classic .jbs-job-list-one .jbs-text-dark,
body.body_dark .jbs-job-classic .jbs-job-list-two .jbs-text-dark {
  color: var(--p_color) !important;
}
body.body_dark .jbs-job-classic .jbs-job-list-one .jbs-save-btn,
body.body_dark .jbs-job-classic .jbs-job-list-two .jbs-save-btn {
  background: transparent !important;
}
body.body_dark .jbs-job-classic .jbs-job-list-one .jbs-save-btn:hover,
body.body_dark .jbs-job-classic .jbs-job-list-two .jbs-save-btn:hover {
  background: var(--black_50) !important;
}
body.body_dark .jbs-job-classic .jbs-nice-select::after {
  border-bottom-color: var(--black_400) !important;
  border-right-color: var(--black_400) !important;
}
body.body_dark .jbs-job-classic .jbs-nice-select::before {
  filter: invert(1);
}
body.body_dark .jbs-job-classic .jbs-pagination-wrap p, body.body_dark .jbs-job-classic .jbs-pagination-wrap .jbs-text-dark {
  color: var(--black_600) !important;
}
body.body_dark .jbs-job-details .jbs-job-head .post-date, body.body_dark .jbs-job-details .jbs-job-head .jbs-text-dark {
  color: var(--black_600) !important;
}
body.body_dark .jbs-job-details .wp-block-group .wp-block-heading, body.body_dark .jbs-job-details .wp-block-group p a {
  color: var(--black_100) !important;
}
body.body_dark .jbs-job-details .jbs-job-company-info {
  background: var(--bs-white) !important;
}
body.body_dark .jbs-job-details .jbs-job-company-info ul li span {
  color: var(--black_100) !important;
}
body.body_dark .jbs-job-details .jbs-job-company-info ul li div {
  color: var(--black_400) !important;
}
body.body_dark .jbs-job-details .jbs-job-company-info .jbs-job-tags a {
  background: var(--black_50) !important;
  color: var(--black_400) !important;
}
body.body_dark .jbs-job-details .jbs-job-company-info .jbs-job-tags a:hover {
  background: var(--black_75) !important;
  color: var(--black_100) !important;
}
body.body_dark .jbs-related-job {
  background: var(--body_bg) !important;
}
body.body_dark .jbs-related-job .jbs-related-job-slider .jbs-job-list-two {
  background: var(--bs-white) !important;
  border-color: var(--white_op10) !important;
}
body.body_dark .jbs-related-job .jbs-related-job-slider .jbs-job-list-two .jbs-text-dark {
  color: var(--p_color) !important;
}
body.body_dark .jbs-related-job .jbs-related-job-slider .jbs-job-list-two .jbs-job-location a {
  color: var(--black_400) !important;
}
body.body_dark .jbs-job-listing-widget .jbs-job-list-one,
body.body_dark .jbs-big-circle .jbs-brand-icon {
  background: var(--bs-white) !important;
  border-color: var(--border_on_highlight) !important;
}
body.body_dark .jbs-job-list-two.jbs-style-two:hover {
  background: var(--bs-white) !important;
}
body.body_dark .jbs-job-list-two .jbs-job-duration {
  background: var(--black_50) !important;
  color: var(--black_400) !important;
}
body.body_dark .jbs-big-circle {
  background: var(--bs-white) !important;
}
body.body_dark .jbs-job-listing-wrapper.jbs-border-wrapper {
  border-color: var(--border_on_white) !important;
}
body.body_dark .jbs-job-listing-wrapper .jbs-job-date {
  color: var(--black_400) !important;
}
body.body_dark .jbs-search-form-widget-one form,
body.body_dark .jbs-search-form-widget-one .jbs-nice-select {
  background: var(--bs-white) !important;
}
body.body_dark .jbs-search-form-widget-one form::after,
body.body_dark .jbs-search-form-widget-one .jbs-nice-select::after {
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}
body.body_dark .jbs-search-form-widget-one form .jbs-input-box .jbs-label {
  color: var(--black_900) !important;
}
body.body_dark .jbs-search-form-widget-one form .jbs-input-box input {
  color: var(--black_100) !important;
}
body.body_dark .jbs-search-form-widget-one .jbs-tags .jbs-text-white {
  color: var(--black_900);
}
body.body_dark .jbs-nice-select .current {
  color: var(--black_100) !important;
}
body.body_dark .jbs-expert-section-one .jbs-card-style-three .jbs-post {
  color: var(--black_100) !important;
}
body.body_dark .jbs-feedback-block-one {
  background: var(--bs-white) !important;
}
body.body_dark .jbs-feedback-block-one .jbs-review {
  border-top-color: var(--border_on_highlight) !important;
}
body.body_dark .jbs-modal .jbs-modal-content {
  background: var(--bs-white) !important;
}
body.body_dark .jbs-category-widget-one .jbs-card-wrapper .card-item .jbs-box-info .icon img {
  filter: invert(1);
}
body.body_dark .jbs-category-widget-one .jbs-card-wrapper .card-item .jbs-box-info .title, body.body_dark .jbs-category-widget-one .jbs-card-wrapper .card-item .jbs-box-info .jbs-total-job {
  color: var(--black_100) !important;
}
body.body_dark .jbs-category-widget-one .jbs-card-wrapper .card-item .jbs-box-info:hover .title, body.body_dark .jbs-category-widget-one .jbs-card-wrapper .card-item .jbs-box-info:hover .jbs-total-job {
  color: var(--jbs-heading_color) !important;
}
body.body_dark .jbs-category-widget-one .jbs-card-wrapper .card-item .jbs-box-info:hover .icon img {
  filter: invert(0);
}
body.body_dark .jbs-spel-accordion h2, body.body_dark .jbs-spel-accordion h3, body.body_dark .jbs-spel-accordion h4, body.body_dark .jbs-spel-accordion h5, body.body_dark .jbs-spel-accordion h6 {
  color: #ffffff !important;
}
body.body_dark .jbs-spel-accordion .jbs-accordion_btn_link, body.body_dark .jbs-spel-accordion .card-body p {
  color: var(--black_100) !important;
}
body.body_dark .jbs-related-job .jbs-slick-arrow-one .slick-arrow .bi-arrow-left {
  color: #fff !important;
}
body.body_dark .jbs-related-job .jbs-slick-arrow-one .slick-arrow .bi-arrow-right {
  color: #fff !important;
}
body.body_dark .jbs-job-details .jbs-share-buttons li .jbs-share-item {
  background-color: var(--black_50) !important;
  color: #fff !important;
}
body.body_dark .jbs-job-details .jbs-share-buttons li .jbs-share-item i {
  color: #fff !important;
}