/**===== Saved Candidate and Job ======*/
.jobus-saved-post, .jobus-dashboard-remove-saved-post, .jobus-dashboard-post-view-more {
  width: 35px;
  height: 35px;
  line-height: 32px;
  border: 1px solid #D6D6D6;
  color: #CBCBCB;
  &:hover {
    background: #E7F6EF;
    border-color: #E7F6EF;
    color: #005025;
  }
}