/**===== Saved Candidate and Job ======*/
.jobus-saved-post, .jobus-dashboard-remove-saved-post, .jobus-dashboard-post-view-more {
  width: 35px;
  height: 35px;
  line-height: 32px;
  border: 1px solid #D6D6D6;
  color: #CBCBCB;
  &:hover {
    background: #E7F6EF;
    border-color: #E7F6EF;
    color: #005025;
  }
}

.btn-one {
  text-transform: capitalize;
  font-weight: 500;
  padding: 8px 26px;
  text-align: center;
  border-radius: 50px;
  color: var(--heading_color);
  background-color: #D2F34C;
  border:2px solid transparent;
  @include transition(0.3s);
  &.lg {
    padding: 8px 32px;
  }
  &:hover {
    background-color: $color-one;
    color: #D2F34C;
    border-color: #D2F34C;
    img{
      filter: invert(79%) sepia(72%) saturate(392%) hue-rotate(19deg) brightness(103%) contrast(96%);
    }
  }
}

.jbs-btn-ten {
  line-height: 50px !important;
  border: none !important;
  border-radius: 10px !important;
  background: #31795A !important;
  padding: 0 26px !important;
  &:hover {
      background: #00BF58 !important;
  }
}

.btn-eleven {
    height: 60px;
    border-radius: 7px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .88px;
    color: #fff;
    background: #000;
    width: 100%
}

.btn-eleven:hover,.btn-eleven:focus {
    background: #31795a;
}


.jbs-btn-success {
    font-weight: 500 !important;
    padding: 13px 26px !important;
    min-width: 150px !important;
    text-align: center !important;
    color: #fff !important;
    background-color: #00BF58 !important;
    border-color: #00BF58 !important;
 -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    &:hover {
        color:#fff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }
}

.save-btn {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #D6D6D6;
  color: #CBCBCB;
  &:hover {
    background: #E7F6EF;
    border-color: #E7F6EF;
    color: $color-four;
  }
}

.open-job-btn {
  width: 120px;
  line-height: 31px;
  font-size: 15px;
  color: $color-three;
  border: 1px solid $color-three;
  background: #EAF9E9;
  border-radius: 30px;
  &:hover {
    background: $color-three;
    color: #fff;
  }
}

.btn-six {
    font-weight: 500;
    color: #00bf58;
    position: relative;
    padding-right: 12px;
    border-bottom: 2px solid #00bf58;
    transition: all .3s ease-in-out 0s;
    &:hover {
        color: #00bf58;
        letter-spacing: 0.25px;
        text-decoration: none !important;
    }
}