/**===== Saved Candidate and Job ======*/
.jobus-saved-post, .jobus-dashboard-remove-saved-post, .jobus-dashboard-post-view-more {
  width: 35px;
  height: 35px;
  line-height: 32px;
  border: 1px solid #D6D6D6;
  color: #CBCBCB;
  &:hover {
    background: #E7F6EF;
    border-color: #E7F6EF;
    color: var(--brand_color_5);
  }
}

.btn-one {
  text-transform: capitalize;
  font-weight: 500;
  padding: 8px 26px;
  text-align: center;
  border-radius: 50px;
  color: var(--heading_color);
  background-color: var(--brand_color_3);
  border:2px solid transparent;
  @include transition(0.3s);
  display: inline-block;
  box-sizing: border-box;
  &.lg {
    padding: 8px 32px;
  }
  &:hover {
    background-color: var(--brand_color_2);
    color: var(--brand_color_3);
    border-color: var(--brand_color_3);
    img{
      filter: invert(79%) sepia(72%) saturate(392%) hue-rotate(19deg) brightness(103%) contrast(96%);
    }
  }
}

.jbs-btn-ten {
  line-height: 50px !important;
  border: none !important;
  border-radius: 10px !important;
  background: var(--brand_color_1) !important;
  padding: 0 26px !important;
  display: inline-block !important;
  text-decoration: none !important;
  &:hover {
      background: var(--brand_color_4) !important;
  }
}

.btn-eleven {
    height: 60px;
    border-radius: 7px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .88px;
    color: #fff;
    background: #000;
    width: 100%
}

.btn-eleven:hover,.btn-eleven:focus {
    background: var(--brand_color_1);
}


.jbs-btn-success {
    font-weight: 500 !important;
    padding: 13px 26px !important;
    min-width: 150px !important;
    text-align: center !important;
    color: #fff !important;
    background-color: var(--brand_color_4) !important;
    border-color: var(--brand_color_4) !important;
 -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    &:hover {
        color:#fff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }
}

.save-btn {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #D6D6D6;
  color: #CBCBCB;
  &:hover {
    background: #E7F6EF;
    border-color: #E7F6EF;
    color: var(--brand_color_5);
  }
}

.open-job-btn {
  line-height: 31px;
  font-size: 15px;
  color: var(--brand_color_4);
  border: 1px solid var(--brand_color_4);
  background: #EAF9E9;
  border-radius: 30px;
  &:hover {
    background: var(--brand_color_4);
    color: #fff;
    text-decoration: none !important;
  }
}

.btn-six {
    font-weight: 500;
    color: var(--brand_color_4);
    position: relative;
    padding-right: 12px;
    border-bottom: 2px solid var(--brand_color_4);
    transition: all .3s ease-in-out 0s;
    &:hover {
        color: var(--brand_color_4);
        letter-spacing: 0.25px;
        text-decoration: none !important;
    }
}