img {
    height: auto;
}

.candidates-profile.bg-color {
    background: $light-bg;
}

.candidate-profile-card {
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgba($color: #244034, $alpha: 0.1);
    @include transition(0.2s);

    &:hover {
        box-shadow: 0px 20px 35px rgba(22, 105, 70, 0.05);
    }

    &.grid-layout {
        padding: 27px 18px 30px;
        display: flex;
        flex-direction: column;
        width: 100%;

        .save-btn {
            color: #b9b9b9;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 18px;

            &:hover {
                color: $color-three;
            }
        }
    }

    &.favourite::before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background: $color-five;
        top: -30px;
        left: -30px;
        transform: rotate(45deg);
    }

    &.favourite::after {
        content: "\f586";
        font-family: bootstrap-icons !important;
        position: absolute;
        color: #fff;
        font-size: 13px;
        top: 4px;
        left: 7px;
    }

    .candidate-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        &.online:before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #00A939;
            top: 5px;
            right: 8px;
        }

        img {
            height: auto;
        }
    }

    .candidate-name {
        font-family: $main-font;
        font-size: 18px;

        a:hover {
            color: $color-three;
        }
    }

    .candidate-post {
        font-size: 15px;
        color: rgba($color: #000, $alpha: 0.4);
    }

    .candidate-skills {
        margin: 0 -2px;

        li {
            margin: 0 2px 5px;
            line-height: 25px;
            padding: 0 14px;
            border-radius: 30px;
            font-size: 12px;
            font-weight: 500;
            color: rgba($color: #000, $alpha: 0.55);
            background: rgba($color: #31795A, $alpha: 0.1);

            &.more {
                background: $color-two;
                color: #000;
            }
        }
    }

    .candidate-info {
        span {
            font-size: 15px;
            color: rgba($color: $color-one, $alpha: 0.6);
        }

        a {
            display: block;
            font-size: 15px;
            font-weight: 500;
            color: #244034;
            margin: 2px 0 0;
            text-transform: capitalize;
        }
    }
}

// Candidates Profile Details
.candidates-profile-details {
    position: relative;

    .inner-card {
        background: #fff;
        border-radius: 10px;
        padding: 25px 35px 20px;

        &.border-style {
            border: 1px solid #DEDEDE;
            position: relative;
            border-radius: 15px;
            padding: 35px 35px 20px;

            .title,
            >.wp-block-heading {
                position: absolute;
                background: #fff;
                padding: 0 10px;
                top: -18px;
                left: 25px;
                z-index: 1;
            }

            >.wp-block-heading {
                font-size: 28px;
                font-weight: 500;
                font-family: $main-font;
                margin-bottom: 22px;
            }
        }
    }

    .title {
        font-size: 28px;
        font-weight: 500;
        font-family: $main-font;
        margin-bottom: 22px;
    }

    .video-post {
        background: url(../images/candidates/img_10.jpg) no-repeat center;
        background-size: cover;
        height: 430px;
        border-radius: 15px;

        .video-icon {
            width: 65px;
            height: 65px;
            background: $color-two;
            color: #000;
            font-size: 45px;
            line-height: 65px;
            padding-left: 7px;

            &:hover {
                background: $color-three;
                color: #fff;
            }
        }
    }

    .time-line-data .info {
        padding: 0 0 45px 65px;

        &:before {
            content: '';
            position: absolute;
            left: 22px;
            top: 66px;
            bottom: 7%;
            width: 1px;
            background: #E1E1E1;
        }

        &:last-child {
            padding-bottom: 0;

            &::before {
                display: none;
            }
        }

        .numb {
            width: 45px;
            height: 45px;
            color: $color-five;
            border: 1px solid $color-five;
            position: absolute;
            left: 0;
            top: 3px;
        }

        .text_1 {
            font-size: 14px;
            color: $color-five;
        }

        h4 {
            font-size: 18px;
            font-family: $main-font;
            margin: 5px 0 12px;
        }
    }

    .skill-tags {
        margin: 0 -8px;

        li {
            font-size: 16px;
            color: $color-four;
            margin: 18px 8px 0;
            line-height: 45px;
            padding: 0 30px;
            border-radius: 30px;
            background: #EFF6F3;

            &.more {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                padding: 0;
                color: #000;
                text-align: center;
                background: $color-two;
            }
        }
    }

    .candidate-portfolio-slider {
        .item {
            a {
                img {
                    height: auto;
                    border-radius: 6px;
                }
            }
        }

        .slick-dots {
            padding: 0;
            margin: 0;
            position: absolute;
            right: 10px;
            top: -35px;
            width: auto;
            bottom: unset;

            li {
                width: auto;
                height: auto;
                margin: 0 auto;

                button {
                    padding: 0;
                }
            }
        }
    }
}

.candidate-profile-sidebar {
    .bg-wrapper {
        background: #fff;
        border-radius: 15px;
        padding: 0 20px 25px;

        &.bg-color {
            background: $light-bg;
        }
    }

    .candidate-bio {
        .candidate-avatar {
            width: 80px;
            height: 80px;
        }

        .candidate-name {
            font-family: $main-font;
            font-size: 20px;
            margin: 18px 0 20px;
        }

        .invite-btn {
            font-size: 15px;
            letter-spacing: -0.5px;
            color: #008FDF;
            text-decoration: underline;
        }

        ul li {
            border-top: 1px solid #E6E6E6;
            padding: 14px 0;

            span {
                font-size: 15px;
                color: rgba($color: $color-one, $alpha: 0.6);
            }

            div {
                font-size: 15px;
                font-weight: 500;
                color: $color-one;
                margin: 4px 0 0;

                a:hover {
                    text-decoration: underline;
                    color: $color-one;
                }
            }
        }
    }

    .sidebar-title {
        font-family: $main-font;
        font-size: 20px;
        margin: 0 0 15px;
    }

    .map-area {
        height: 235px;
        border-radius: 10px;
        overflow: hidden;
    }

    .email-form {
        p {
            font-size: 15px;
            line-height: 22px;
            padding: 20px 0 0;
        }

        label {
            font-size: 13px;
            font-weight: 500;
            color: $color-five;
            width: 65px;
            display: inline;
        }

        input {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            border: 1px solid #e9e9e9;
            background: #fff;
            padding: 0 15px;
            font-size: 13px;
        }

        textarea {
            width: 100%;
            height: 135px;
            max-height: 135px;
            border-radius: 5px;
            border: 1px solid #e9e9e9;
            background: #fff;
            padding: 10px 15px;
            font-size: 13px;
            resize: none;
        }
    }
}

.email-form-message {
    &.success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    &.error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
    }
}


//==================Candidate profile 2=========================//
img {
    height: auto;
}

.candidates-profile-2 {
    background: #eff6f3;
}

.candidate-profile-card {
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgba($color: #244034, $alpha: 0.1);
    @include transition(0.2s);

    &:hover {
        box-shadow: 0px 20px 35px rgba(22, 105, 70, 0.05);
    }

    &.grid-layout {
        padding: 27px 18px 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &.favourite::before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background: $color-five;
        top: -30px;
        left: -30px;
        transform: rotate(45deg);
    }

    &.favourite::after {
        content: "\f586";
        font-family: bootstrap-icons !important;
        position: absolute;
        color: #fff;
        font-size: 13px;
        top: 4px;
        left: 7px;
    }

    .candidate-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        &.online:before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #00A939;
            top: 5px;
            right: 8px;
        }

        img {
            height: auto;
        }
    }

    .candidate-name {
        font-family: $main-font;
        font-size: 18px;

        a:hover {
            color: $color-three;
        }
    }

    .candidate-post {
        font-size: 15px;
        color: rgba($color: #000, $alpha: 0.4);
    }

    .candidate-skills {
        gap: 8px;

        li {
            margin: 0 2px 5px;
            line-height: 25px;
            padding: 0 14px;
            border-radius: 30px;
            font-size: 12px;
            font-weight: 500;
            color: rgba($color: #000, $alpha: 0.55);
            background: rgba($color: #31795A, $alpha: 0.1);

            &.more {
                background: #d2f34c !important;
                color: #000 !important;
            }
        }
    }

    .profile-btn {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 40px;
        color: #fff;
        background: $color-five;
        text-align: center;
        padding: 10px 18px;
        border-radius: 40px;

        &:hover {
            background: $color-three;
        }
    }

    .msg-btn {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 38px;
        color: $color-five;
        border: 1px solid $color-five;
        text-align: center;
        padding: 10px 15px;
        border-radius: 40px;

        &:hover {
            background: $color-three;
            border-color: $color-three;
            color: #fff;
        }
    }

    &.list-layout {
        padding: 27px 30px 38px;

        .candidate-skills {
            //   position: absolute;
            position: static;
            left: 0;
            bottom: -45px;
        }

        .right-side {
            width: calc(100% - 80px);
            padding-left: 30px;
        }
    }
}

// Candidates Profile Details
.candidates-profile-details-2 {
    position: relative;

    .inner-card {
        background: #fff;
        border-radius: 10px;
        padding: 25px 35px 20px;

        &.border-style {
            border: none;
            border-radius: 15px;
            padding: 35px 35px 20px;

            .title,
            >.wp-block-heading {
                background: transparent;
                position: unset;
                padding: 0;
            }

            >.wp-block-heading {
                font-size: 28px;
                font-weight: 500;
                font-family: $main-font;
                margin-bottom: 22px;
            }
        }
    }

    .title {
        font-size: 28px;
        font-weight: 500;
        font-family: $main-font;
        margin-bottom: 22px;
    }

    .video-post {
        background: url(../images/candidates/img_10.jpg) no-repeat center;
        background-size: cover;
        height: 430px;
        border-radius: 15px;

        .video-icon {
            width: 65px;
            height: 65px;
            background: $color-two;
            color: #000;
            font-size: 45px;
            line-height: 65px;
            padding-left: 7px;

            &:hover {
                background: $color-three;
                color: #fff;
            }
        }
    }

    .time-line-data .info {
        padding: 0 0 45px 65px;

        &:before {
            content: '';
            position: absolute;
            left: 22px;
            top: 66px;
            bottom: 7%;
            width: 1px;
            background: #E1E1E1;
        }

        &:last-child {
            padding-bottom: 0;

            &::before {
                display: none;
            }
        }

        .numb {
            width: 45px;
            height: 45px;
            color: $color-five;
            border: 1px solid $color-five;
            position: absolute;
            left: 0;
            top: 3px;
        }

        .text_1 {
            font-size: 14px;
            color: $color-five;
        }

        h4 {
            font-size: 18px;
            font-family: $main-font;
            margin: 5px 0 12px;
        }
    }

    .skill-tags {
        margin: 0 -8px;

        li {
            font-size: 16px;
            color: $color-four;
            margin: 18px 8px 0;
            line-height: 45px;
            padding: 0 30px;
            border-radius: 30px;
            background: #EFF6F3;

            &.more {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                padding: 0;
                color: #000;
                text-align: center;
                background: $color-two;
            }
        }
    }

    .candidate-portfolio-slider {
        .item {
            a {
                img {
                    height: auto;
                    border-radius: 6px;
                }
            }
        }

        .slick-dots {
            padding: 0;
            margin: 0;
            position: absolute;
            right: 10px;
            top: -35px;
            width: auto;
            bottom: unset;

            li {
                width: auto;
                height: auto;
                margin: 0 auto;

                button {
                    padding: 0;
                }
            }
        }
    }
}

.candidate-profile-2-sidebar {
    .bg-wrapper {
        background: #fff;
        border-radius: 15px;
        padding: 0 20px 25px;
    }

    .candidate-bio {
        .candidate-avatar {
            width: 80px;
            height: 80px;
        }

        .candidate-name {
            font-family: $main-font;
            font-size: 20px;
            margin: 18px 0 20px;
        }

        .invite-btn {
            font-size: 15px;
            letter-spacing: -0.5px;
            color: #008FDF;
            text-decoration: underline;
        }

        ul {
            li {
                border-bottom: 1px solid #E6E6E6;
                padding: 14px 0;
                list-style-type: none;

                li:first-child {
                    border-top: 0;
                }

                span {
                    font-size: 15px;
                    color: rgba($color: $color-one, $alpha: 0.6);
                }

                div {
                    font-size: 15px;
                    font-weight: 500;
                    color: $color-one;
                    margin: 4px 0 0;

                    a:hover {
                        text-decoration: underline;
                        color: $color-one;
                    }
                }
            }
        }
    }

    .sidebar-title {
        font-family: $main-font;
        font-size: 20px;
        margin: 0 0 15px;
    }

    .map-area {
        height: 235px;
        border-radius: 10px;
        overflow: hidden;
    }

    .email-form {
        p {
            font-size: 14px;
            line-height: 22px;
            padding: 20px 0 0;
        }

        label {
            font-size: 13px;
            font-weight: 500;
            color: $color-five;
            width: 80px;
            display: inline;
        }

        input {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            border: 1px solid #e9e9e9;
            background: #fff;
            padding: 0 15px;
            font-size: 13px;
        }

        textarea {
            width: 100%;
            height: 135px;
            max-height: 135px;
            border-radius: 5px;
            border: 1px solid #e9e9e9;
            background: #fff;
            padding: 10px 15px;
            font-size: 13px;
            resize: none;
        }
    }
}

.candidate-profile-two {
    background: url(../images/layout/candidate/candidate-shape-2.svg) !important;
    background-size: cover !important;
    border: none;
}