//================== Candidate Classic =========================//
.jbs-candidate-classic {
  background: var(--bs-white, #ffffff);
}

.candidates-profile {
  padding-top: 180px;
  &.bg-color {
    background: var(--jbs-box_bg_color);
  }
}

.candidate-profile-card {
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgba($color: var(--jbs-brand_color_2), $alpha: 0.1);
  @include transition(0.2s);

  &:hover {
    box-shadow: 0px 20px 35px rgba(22, 105, 70, 0.05);
  }

  &.grid-layout {
    padding: 27px 18px 30px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .save-btn {
      color: #b9b9b9;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;

      &:hover {
        color: var(--jbs-brand_color_4);
      }
    }
  }

  &.favourite::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: var(--jbs-brand_color_1);
    top: -30px;
    left: -30px;
    transform: rotate(45deg);
  }

  &.favourite::after {
    content: "\f586";
    font-family: bootstrap-icons !important;
    position: absolute;
    color: #fff;
    font-size: 13px;
    top: 4px;
    left: 7px;
  }

  .candidate-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    &.online:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #00A939;
      top: 5px;
      right: 8px;
    }

    img {
      height: auto;
    }
  }

  .candidate-name {
    font-size: 18px;

    a:hover {
      color: var(--jbs-brand_color_4);
    }
  }

  .candidate-post {
    font-size: 15px;
    color: rgba($color: #000, $alpha: 0.4);
  }

  .candidate-skills {
    margin: 0 -2px;

    li {
      margin: 0 2px 5px;
      line-height: 25px;
      padding: 0 14px;
      border-radius: 30px;
      font-size: 12px;
      font-weight: 500;
      color: rgba($color: #000, $alpha: 0.55);
      background: rgba($color: var(--jbs-brand_color_1), $alpha: 0.1);

      &.more {
        background: var(--jbs-brand_color_3);
        color: #000;
      }
    }
  }

  .candidate-info {
    span {
      font-size: 15px;
      color: rgba($color: var(--jbs-brand_color_2), $alpha: 0.6);
    }

    a {
      display: block;
      font-size: 15px;
      font-weight: 500;
      color: var(--jbs-brand_color_2);
      margin: 2px 0 0;
      text-transform: capitalize;
    }
  }
}

// Candidates Profile Details
.candidates-profile-details {
  position: relative;

  .inner-card {
    background: #fff;
    border-radius: 10px;
    padding: 25px 35px 20px;

    &.border-style {
      border: 1px solid #DEDEDE;
      position: relative;
      border-radius: 15px;
      padding: 35px 35px 20px;

      .title,
      > .wp-block-heading {
        position: absolute;
        background: #fff;
        padding: 0 10px;
        top: -18px;
        left: 25px;
        z-index: 1;
        border-radius: 10px;
      }

      > .wp-block-heading {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 22px;
      }
    }
  }

  .title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 22px;
  }

  .video-post {
    background: url(../images/candidates/img_10.jpg) no-repeat center;
    background-size: cover;
    height: 430px;
    border-radius: 15px;

    .video-icon {
      width: 65px;
      height: 65px;
      background: var(--jbs-brand_color_3);
      color: #000;
      font-size: 45px;
      line-height: 65px;
      padding-left: 7px;

      &:hover {
        background: var(--jbs-brand_color_4);
        color: #fff;
      }
    }
  }

  .time-line-data .info {
    padding: 0 0 45px 65px;

    &:before {
      content: '';
      position: absolute;
      left: 22px;
      top: 66px;
      bottom: 7%;
      width: 1px;
      background: #E1E1E1;
    }

    &:last-child {
      padding-bottom: 0;

      &::before {
        display: none;
      }
    }

    .numb {
      width: 45px;
      height: 45px;
      color: var(--jbs-brand_color_1);
      border: 1px solid var(--jbs-brand_color_1);
      position: absolute;
      left: 0;
      top: 3px;
    }

    .text_1 {
      font-size: 14px;
      color: var(--jbs-brand_color_1);
    }

    h4 {
      font-size: 18px;
      margin: 5px 0 12px;
    }
  }

  .skill-tags {
    margin: 0 -8px;

    li {
      font-size: 16px;
      color: var(--jbs-brand_color_5);
      margin: 18px 8px 0;
      line-height: 45px;
      padding: 0 30px;
      border-radius: 30px;
      background: var(--jbs_box_bg_color_opt);

      &.more {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding: 0;
        color: #000;
        text-align: center;
        background: var(--jbs-brand_color_3);
      }
    }
  }

  .candidate-portfolio-slider {
    .item {
      a {
        img {
          height: auto;
          border-radius: 6px;
        }
      }
    }

    .slick-dots {
      padding: 0;
      margin: 0;
      position: absolute;
      right: 10px;
      top: -35px;
      width: auto;
      bottom: unset;

      li {
        width: auto;
        height: auto;
        margin: 0 auto;

        button {
          padding: 0;
        }
      }
    }
  }
}

.candidate-profile-sidebar {
  .bg-wrapper {
    background: #fff;
    border-radius: 15px;
    padding: 0 20px 25px;

    &.bg-color {
      background: var(--jbs-box_bg_color);
    }
  }

  .candidate-bio {
    .candidate-avatar {
      width: 80px;
      height: 80px;
    }

    .candidate-name {
      font-size: 20px;
      margin: 18px 0 20px;
      font-weight: 500;
    }

    .invite-btn {
      font-size: 15px;
      letter-spacing: -0.5px;
      color: #008FDF;
      text-decoration: underline;
    }

    ul li {
      border-top: 1px solid #E6E6E6;
      padding: 14px 0;

      span {
        font-size: 15px;
        color: rgba($color: var(--jbs-brand_color_2), $alpha: 0.6);
      }

      div {
        font-size: 15px;
        font-weight: 500;
        color: var(--jbs-brand_color_2);
        margin: 4px 0 0;

        a:hover {
          text-decoration: underline;
          color: var(--jbs-brand_color_2);
        }
      }
    }
  }

  .sidebar-title {
    font-size: 20px;
    margin: 0 0 15px;
  }

  .map-area {
    height: 235px;
    border-radius: 10px;
    overflow: hidden;
  }

  .email-form {
    p {
      font-size: 15px;
      line-height: 22px;
      padding: 20px 0 0;
    }

    label {
      font-size: 13px;
      font-weight: 500;
      color: var(--jbs-brand_color_1);
      width: 65px;
      display: inline;
    }

    input {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #e9e9e9;
      background: #fff;
      padding: 0 15px;
      font-size: 13px;
      outline: none;
    }

    textarea {
      width: 100%;
      height: 135px;
      max-height: 135px;
      border-radius: 5px;
      border: 1px solid #e9e9e9;
      background: #fff;
      padding: 10px 15px;
      font-size: 13px;
      resize: none;
      outline: none;
    }
  }
}

.email-form-message {
  &.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  &.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }
}


//==================Candidate profile 2=========================//
img {
  height: auto;
}

.candidates-profile-2 {
  background: var(--jbs_box_bg_color_opt);
}

.candidate-profile-card {
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgb(36 64 52 / 10%);
  @include transition(0.2s);

  &:hover {
    box-shadow: 0px 20px 35px rgba(22, 105, 70, 0.05);
  }

  &.grid-layout {
    padding: 27px 18px 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &.favourite::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: var(--jbs-brand_color_1);
    top: -30px;
    left: -30px;
    transform: rotate(45deg);
  }

  &.favourite::after {
    content: "\f586";
    font-family: bootstrap-icons !important;
    position: absolute;
    color: #fff;
    font-size: 13px;
    top: 4px;
    left: 7px;
  }

  .candidate-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    &.online:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #00A939;
      top: 5px;
      right: 8px;
    }

    img {
      height: auto;
    }
  }
  .candidate-post {
    font-size: 15px;
    color: rgba($color: #000, $alpha: 0.4);
  }

  .candidate-skills {
    li {
      margin: 0 2px 5px;
      line-height: 25px;
      padding: 0 14px;
      border-radius: 30px;
      font-size: 12px;
      font-weight: 500;
      color: rgba($color: #000, $alpha: 0.55);
      background: rgb(49 121 90 / 10%);

      &.more {
        background: var(--jbs-brand_color_3);
        color: #000;
      }
      a {
        color: inherit;
      }
    }
  }

  .profile-btn {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 40px;
    color: #fff;
    background: var(--jbs-brand_color_1);
    text-align: center;
    padding: 0 18px;
    border-radius: 40px;
    display: inline-block;
    &:hover {
      background: var(--jbs-brand_color_4);
    }
  }

  .msg-btn {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 38px;
    color: var(--jbs-brand_color_1);
    border: 1px solid var(--jbs-brand_color_1);
    text-align: center;
    padding: 0 15px;
    border-radius: 40px;
    display: inline-block;
    &:hover {
      background: var(--jbs-brand_color_4);
      border-color: var(--jbs-brand_color_4);
      color: #fff;
    }
  }
  .profile_btn-mt{
    margin-top: 5px;
  }

  &.list-layout {
    padding: 27px 30px 38px;

    .candidate-skills {
      position: absolute;
      left: 0;
      bottom: -45px;
    }

    .right-side {
      width: calc(100% - 80px);
      padding-left: 30px;
    }
  }
}

// Candidates Profile Details
.candidates-profile-details-2 {
  position: relative;

  .inner-card {
    background: #fff;
    border-radius: 10px;
    padding: 25px 35px 20px;

    &.border-style {
      border: none;
      border-radius: 15px;
      padding: 35px 35px 20px;

      .title,
      > .wp-block-heading {
        background: transparent;
        position: unset;
        padding: 0;
      }

      > .wp-block-heading {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 22px;
      }
    }
  }

  .title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 22px;
  }

  .video-post {
    background: url(../images/candidates/img_10.jpg) no-repeat center;
    background-size: cover;
    height: 430px;
    border-radius: 15px;

    .video-icon {
      width: 65px;
      height: 65px;
      background: var(--jbs-brand_color_3);
      color: #000;
      font-size: 45px;
      line-height: 65px;
      padding-left: 7px;

      &:hover {
        background: var(--jbs-brand_color_4);
        color: #fff;
      }
    }
  }

  .time-line-data .info {
    padding: 0 0 45px 65px;

    &:before {
      content: '';
      position: absolute;
      left: 22px;
      top: 66px;
      bottom: 7%;
      width: 1px;
      background: #E1E1E1;
    }

    &:last-child {
      padding-bottom: 0;

      &::before {
        display: none;
      }
    }

    .numb {
      width: 45px;
      height: 45px;
      color: var(--jbs-brand_color_1);
      border: 1px solid var(--jbs-brand_color_1);
      position: absolute;
      left: 0;
      top: 3px;
    }

    .text_1 {
      font-size: 14px;
      color: var(--jbs-brand_color_1);
    }

    h4 {
      font-size: 18px;
      margin: 5px 0 12px;
    }
  }

  .skill-tags {
    margin: 0 -8px;

    li {
      font-size: 16px;
      color: var(--jbs-brand_color_5);
      margin: 18px 8px 0;
      line-height: 45px;
      padding: 0 30px;
      border-radius: 30px;
      background: var(--jbs_box_bg_color_opt);

      &.more {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding: 0;
        color: #000;
        text-align: center;
        background: var(--jbs-brand_color_3);
      }
    }
  }

  .candidate-portfolio-slider {
    .item {
      a {
        img {
          height: auto;
          border-radius: 6px;
        }
      }
    }

    .slick-dots {
      padding: 0;
      margin: 0;
      position: absolute;
      right: 10px;
      top: -35px;
      width: auto;
      bottom: unset;

      li {
        width: auto;
        height: auto;
        margin: 0 auto;

        button {
          padding: 0;
        }
      }
    }
  }
}

.candidate-profile-2-sidebar {
  .bg-wrapper {
    background: #fff;
    border-radius: 15px;
    padding: 0 20px 25px;
  }

  .candidate-bio {
    .candidate-avatar {
      width: 80px;
      height: 80px;
    }

    .candidate-name {
      font-size: 20px;
      margin: 18px 0 20px;
    }

    .invite-btn {
      font-size: 15px;
      letter-spacing: -0.5px;
      color: #008FDF;
      text-decoration: underline;
    }

    ul {
      li {
        border-bottom: 1px solid #E6E6E6;
        padding: 14px 0;
        list-style-type: none;

        li:first-child {
          border-top: 0;
        }

        span {
          font-size: 15px;
          color: rgba($color: var(--jbs-brand_color_2), $alpha: 0.6);
        }

        div {
          font-size: 15px;
          font-weight: 500;
          color: var(--jbs-brand_color_2);
          margin: 4px 0 0;
         a{
            color: #244034;
         }
          a:hover {
            text-decoration: underline;
            color: var(--jbs-brand_color_2);
          }
        }
      }
    }
  }

  .sidebar-title {
    font-size: 20px;
    margin: 0 0 15px;
  }

  .map-area {
    height: 235px;
    border-radius: 10px;
    overflow: hidden;
  }

  .email-form {
    p {
      font-size: 14px;
      line-height: 22px;
      padding: 20px 0 0;
    }

    label {
      font-size: 13px;
      font-weight: 500;
      color: var(--jbs-brand_color_1);
      width: 80px;
      display: inline;
    }

    input {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #e9e9e9;
      background: #fff;
      padding: 0 15px;
      font-size: 13px;
      outline: none;
    }

    textarea {
      width: 100%;
      height: 135px;
      max-height: 135px;
      border-radius: 5px;
      border: 1px solid #e9e9e9;
      background: #fff;
      padding: 10px 15px;
      font-size: 13px;
      resize: none;
      outline: none;
    }
  }
}

.candidate-profile-two {
  background: url(../images/layout/candidate/candidate-shape-2.svg) !important;
  background-size: cover !important;
  border: none;
}
@media (max-width:1440px){
 .jbs-col-full {
        width: 100% !important;
    }
}
@media (max-width: 1024px) {
   

    .dashboard-body {
        .candidate-profile-card.list-layout .right-side{
            padding-left: 5px !important;
        }
        .candidate-profile-card.list-layout .candidate-skills{
            bottom: -55px !important;
        }
        .candidate-profile-card {
            .candidate-info.location-info {
                margin-top: 0px !important;
            }

            .candidate-info.salary-info {
                margin-top: 0px !important;
            }
        }
    }
     .dashboard-body .dash-card-one {
    padding: 22px 10px 20px !important;
}
}

@media (max-width: 768px) {
    .candidate-profile-card {
        .candidate-skills {
            flex-wrap: wrap;
        }
        .candidate_profile-location {
            margin-top: 10px;
        }
    }
     .dashboard-body {
        .candidate-profile-card {
            .candidate-info.location-info {
                margin-top: 20px !important;
            }

            .candidate-info.salary-info {
                margin-top: 50px !important;
            }
        }
    }
    .dashboard-body .card-box {
    padding: 45px 20px 50px !important;
}
    
}
// @media (max-width:425px){
//     .dashboard-body .dash-card-one {
//     padding: 22px 13px 20px !important;
// }

// }