.company-profiles.bg-color {
  background: $light-bg;
}

// Company Grid Layout
.company-grid-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 34px 15px 0;
  border-radius: 30px;
  background: #fff;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);

  &.favourite::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    background: var(--jbs-brand_color_1);
    top: -45px;
    left: -45px;
    transform: rotate(45deg);
  }

  &.favourite::after {
    content: "\f586";
    font-family: bootstrap-icons !important;
    position: absolute;
    color: #fff;
    font-size: 15px;
    top: 9px;
    left: 14px;
  }

  .company-logo {
    display: block;
    width: 85px;
    height: 85px;
    overflow: hidden;
  }

  .location {
    text-align: center;
    margin-bottom: 0;

    a {
      font-size: 15px;
      outline: none;

      &:hover {
        color: var(--jbs-brand_color_1);
      }
    }
  }

  .company-name {
    font-size: 24px;
    margin: 22px 0 8px;
    display: inline-block;
    color: #000;
    outline: none;

    &:hover {
      color: var(--jbs-brand_color_1);
      text-decoration: none;
    }
  }

  .bottom-line {
    border-top: 1px solid rgb(49 121 90 / 30%);
    margin: 50px -15px 0;

    a {
      display: block;
      width: 100%;
      font-size: 15px;
      font-weight: 500;
      color: var(--jbs-brand_color_4);
      text-align: center;
      padding: 18px 0;
      @include transition(0.2s);

      i {
        vertical-align: -1px;
        margin-right: 2px;
      }

      &:hover {
        background: var(--jbs-brand_color_4);
        color: #fff;
      }
    }
  }
}

// Company List Layout
.company-list-layout {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 35px 20px;
  position: relative;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);

  &.favourite::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: var(--jbs-brand_color_1);
    top: -30px;
    left: -30px;
    transform: rotate(45deg);
  }

  &.favourite::after {
    content: "\f586";
    font-family: bootstrap-icons !important;
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: 2px;
    left: 7px;
  }

  .company-logo {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;

  }

  .company-data {
    width: calc(100% - 70px);
    padding-left: 20px;

    .location {
      margin: 3px 0 0;

      a {
        font-size: 15px;
        color: #000;

        &:hover {
          color: var(--jbs-brand_color_1);
        }
      }
    }

    a {
      color: #000;

      &:hover {
        color: var(--jbs-brand_color_1);
      }
    }
  }

  .company-name {
    font-size: 24px;

    &:hover {
      color: var(--jbs-brand_color_1);
      text-decoration: none;
    }
  }

  p {
    font-size: 15px;
    margin: 3px 0 0;
  }

  .team-img {
    width: 55px;
    height: 55px;
    border: 6px solid #fff;
    margin-right: -18px;
  }

  .team-text {
    font-size: 15px;
    line-height: 20px;
    color: rgba($color: #000000, $alpha: 0.4);
    margin-left: 30px;
  }
}

// Company Details
.company-details {
  padding-top: 180px;

  .details-post-data {
    position: relative;

    h3 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 40px;
    }

    .video-post {
      background: url(../images/assets/img_45.jpg) no-repeat center;
      background-size: cover;
      height: 440px;
      border-radius: 10px;

      .video-icon {
        width: 65px;
        height: 65px;
        background: #FF4646;
        color: #fff;
        font-size: 45px;
        line-height: 65px;
      }
    }

    .slick-dots {
      position: absolute;
      margin: 0;
      padding: 0;
      right: 10px;
      top: -37px;
      width: auto;
      bottom: inherit;

      li {
        width: 8px;
        height: 8px;

        button {
          padding: inherit;
        }
      }
    }

    .share-option li a {
      font-size: 15px;
      color: var(--jbs-brand_color_2);
      width: 34px;
      height: 34px;
      text-align: center;
      line-height: 34px;
      border: 1px solid #EAEAEA;
      border-radius: 50%;
      margin-left: 6px;
      display: inline-block;
      @include transition(0.2s);

      &:hover {
        background: var(--jbs-brand_color_2);
        color: #fff;
      }
    }
  }
}

// Company Open Position
.company-open-position {
  background: $light-bg;
}