.jbs-slick-arrow-one {
  margin-left: -2px;
  margin-right: -2px;

  li {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    @include transition(0.2s);

    &:hover {
      background: var(--jbs-brand_color_3);
    }
  }

  &.color-two li:hover {
    background: var(--jbs-brand_color_4);
    color: #fff;
  }
}