// text color add smooth animation on hover
.jbs-text-black {
  .jbs-lg-mt-130 {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--brand_color_4);
      transition: color 0.3s ease-in-out;
    }
  }
}

.jbs-style-none {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.jbs-pt-10 {
  padding-top: 10px !important;
}

.jbs-pt-15 {
  padding-top: 15px !important;
}

.jbs-pt-20 {
  padding-top: 20px !important;
}

.jbs-pt-25 {
  padding-top: 25px !important;
}

.jbs-pt-30 {
  padding-top: 30px !important;
}

.jbs-pt-35 {
  padding-top: 35px !important;
}

.jbs-pt-40 {
  padding-top: 40px !important;
}

.jbs-pt-45 {
  padding-top: 45px !important;
}

.jbs-pt-50 {
  padding-top: 50px !important;
}

.jbs-pt-55 {
  padding-top: 55px !important;
}

.jbs-pt-60 {
  padding-top: 60px !important;
}

.jbs-pt-65 {
  padding-top: 65px !important;
}

.jbs-pt-70 {
  padding-top: 70px !important;
}

.jbs-pt-75 {
  padding-top: 75px !important;
}

.jbs-pt-80 {
  padding-top: 80px !important;
}

.jbs-pt-85 {
  padding-top: 85px !important;
}

.jbs-pt-90 {
  padding-top: 90px !important;
}

.jbs-pt-95 {
  padding-top: 95px !important;
}

.jbs-pt-100 {
  padding-top: 100px !important;
}

.jbs-pt-110 {
  padding-top: 110px !important;
}

.jbs-pt-120 {
  padding-top: 120px !important;
}

.jbs-pt-130 {
  padding-top: 130px !important;
}

.jbs-pt-140 {
  padding-top: 140px !important;
}

.jbs-pt-150 {
  padding-top: 150px !important;
}

.jbs-pt-160 {
  padding-top: 160px !important;
}

.jbs-pt-170 {
  padding-top: 170px !important;
}

.jbs-pt-180 {
  padding-top: 180px !important;
}

.jbs-pt-190 {
  padding-top: 190px !important;
}

.jbs-pt-200 {
  padding-top: 200px !important;
}

.jbs-pt-225 {
  padding-top: 225px !important;
}

.jbs-pt-250 {
  padding-top: 250px !important;
}

.jbs-pt-300 {
  padding-top: 300px !important;
}

.jbs-pt-350 {
  padding-top: 350px !important;
}

.jbs-pb-10 {
  padding-bottom: 10px !important;
}

.jbs-pb-15 {
  padding-bottom: 15px !important;
}

.jbs-pb-20 {
  padding-bottom: 20px !important;
}

.jbs-pb-25 {
  padding-bottom: 25px !important;
}

.jbs-pb-30 {
  padding-bottom: 30px !important;
}

.jbs-pb-35 {
  padding-bottom: 35px !important;
}

.jbs-pb-40 {
  padding-bottom: 40px !important;
}

.jbs-pb-45 {
  padding-bottom: 45px !important;
}

.jbs-pb-50 {
  padding-bottom: 50px !important;
}

.jbs-pb-55 {
  padding-bottom: 55px !important;
}

.jbs-pb-60 {
  padding-bottom: 60px !important;
}

.jbs-pb-65 {
  padding-bottom: 65px !important;
}

.jbs-pb-70 {
  padding-bottom: 70px !important;
}

.jbs-pb-75 {
  padding-bottom: 75px !important;
}

.jbs-pb-80 {
  padding-bottom: 80px !important;
}

.jbs-pb-85 {
  padding-bottom: 85px !important;
}

.jbs-pb-90 {
  padding-bottom: 90px !important;
}

.jbs-pb-95 {
  padding-bottom: 95px !important;
}

.jbs-pb-100 {
  padding-bottom: 100px !important;
}

.jbs-pb-110 {
  padding-bottom: 110px !important;
}

.jbs-pb-120 {
  padding-bottom: 120px !important;
}

.jbs-pb-130 {
  padding-bottom: 130px !important;
}

.jbs-pb-140 {
  padding-bottom: 140px !important;
}

.jbs-pb-150 {
  padding-bottom: 150px !important;
}

.jbs-pb-160 {
  padding-bottom: 160px !important;
}

.jbs-pb-170 {
  padding-bottom: 170px !important;
}

.jbs-pb-180 {
  padding-bottom: 180px !important;
}

.jbs-pb-190 {
  padding-bottom: 190px !important;
}

.jbs-pb-200 {
  padding-bottom: 200px !important;
}

.jbs-pb-225 {
  padding-bottom: 225px !important;
}

.jbs-pb-250 {
  padding-bottom: 250px !important;
}

.jbs-pb-300 {
  padding-bottom: 300px !important;
}

.jbs-pb-350 {
  padding-bottom: 350px !important;
}

.jbs-mt-10 {
  margin-top: 10px !important;
}

.jbs-mt-15 {
  margin-top: 15px !important;
}

.jbs-mt-20 {
  margin-top: 20px !important;
}

.jbs-mt-25 {
  margin-top: 25px !important;
}

.jbs-mt-30 {
  margin-top: 30px !important;
}

.jbs-mt-35 {
  margin-top: 35px !important;
}

.jbs-mt-40 {
  margin-top: 40px !important;
}

.jbs-mt-45 {
  margin-top: 45px !important;
}

.jbs-mt-50 {
  margin-top: 50px !important;
}

.jbs-mt-55 {
  margin-top: 55px !important;
}

.jbs-mt-60 {
  margin-top: 60px !important;
}

.jbs-mt-65 {
  margin-top: 65px !important;
}

.jbs-mt-70 {
  margin-top: 70px !important;
}

.jbs-mt-75 {
  margin-top: 75px !important;
}

.jbs-mt-80 {
  margin-top: 80px !important;
}

.jbs-mt-85 {
  margin-top: 85px !important;
}

.jbs-mt-90 {
  margin-top: 90px !important;
}

.jbs-mt-95 {
  margin-top: 95px !important;
}

.jbs-mt-100 {
  margin-top: 100px !important;
}

.jbs-mt-110 {
  margin-top: 110px !important;
}

.jbs-mt-120 {
  margin-top: 120px !important;
}

.jbs-mt-130 {
  margin-top: 130px !important;
}

.jbs-mt-140 {
  margin-top: 140px !important;
}

.jbs-mt-150 {
  margin-top: 150px !important;
}

.jbs-mt-160 {
  margin-top: 160px !important;
}

.jbs-mt-170 {
  margin-top: 170px !important;
}

.jbs-mt-180 {
  margin-top: 180px !important;
}

.jbs-mt-190 {
  margin-top: 190px !important;
}

.jbs-mt-200 {
  margin-top: 200px !important;
}

.jbs-mt-225 {
  margin-top: 225px !important;
}

.jbs-mt-250 {
  margin-top: 250px !important;
}

.jbs-mt-300 {
  margin-top: 300px !important;
}

.jbs-mt-350 {
  margin-top: 350px !important;
}

.jbs-mb-10 {
  margin-bottom: 10px !important;
}

.jbs-mb-15 {
  margin-bottom: 15px !important;
}

.jbs-mb-20 {
  margin-bottom: 20px !important;
}

.jbs-mb-25 {
  margin-bottom: 25px !important;
}

.jbs-mb-30 {
  margin-bottom: 30px !important;
}

.jbs-mb-35 {
  margin-bottom: 35px !important;
}

.jbs-mb-40 {
  margin-bottom: 40px !important;
}

.jbs-mb-45 {
  margin-bottom: 45px !important;
}

.jbs-mb-50 {
  margin-bottom: 50px !important;
}

.jbs-mb-55 {
  margin-bottom: 55px !important;
}

.jbs-mb-60 {
  margin-bottom: 60px !important;
}

.jbs-mb-65 {
  margin-bottom: 65px !important;
}

.jbs-mb-70 {
  margin-bottom: 70px !important;
}

.jbs-mb-75 {
  margin-bottom: 75px !important;
}

.jbs-mb-80 {
  margin-bottom: 80px !important;
}

.jbs-mb-85 {
  margin-bottom: 85px !important;
}

.jbs-mb-90 {
  margin-bottom: 90px !important;
}

.jbs-mb-95 {
  margin-bottom: 95px !important;
}

.jbs-mb-100 {
  margin-bottom: 100px !important;
}

.jbs-mb-110 {
  margin-bottom: 110px !important;
}

.jbs-mb-120 {
  margin-bottom: 120px !important;
}

.jbs-mb-130 {
  margin-bottom: 130px !important;
}

.jbs-mb-140 {
  margin-bottom: 140px !important;
}

.jbs-mb-150 {
  margin-bottom: 150px !important;
}

.jbs-mb-160 {
  margin-bottom: 160px !important;
}

.jbs-mb-170 {
  margin-bottom: 170px !important;
}

.jbs-mb-180 {
  margin-bottom: 180px !important;
}

.jbs-mb-190 {
  margin-bottom: 190px !important;
}

.jbs-mb-200 {
  margin-bottom: 200px !important;
}

.jbs-mb-225 {
  margin-bottom: 225px !important;
}

.jbs-mb-250 {
  margin-bottom: 250px !important;
}

.jbs-mb-300 {
  margin-bottom: 300px !important;
}

.jbs-mb-350 {
  margin-bottom: 350px !important;
}


@media (max-width: 1399px) {
  .jbs-xl-p0 {
    padding: 0 !important;
  }

  .jbs-xl-m0 {
    margin: 0 !important;
  }

  .jbs-xl-pt-10 {
    padding-top: 10px !important;
  }

  .jbs-xl-pt-20 {
    padding-top: 20px !important;
  }

  .jbs-xl-pt-30 {
    padding-top: 30px !important;
  }

  .jbs-xl-pt-40 {
    padding-top: 40px !important;
  }

  .jbs-xl-pt-50 {
    padding-top: 50px !important;
  }

  .jbs-xl-pt-60 {
    padding-top: 60px !important;
  }

  .jbs-xl-pt-70 {
    padding-top: 70px !important;
  }

  .jbs-xl-pt-80 {
    padding-top: 80px !important;
  }

  .jbs-xl-pt-90 {
    padding-top: 90px !important;
  }

  .jbs-xl-pt-100 {
    padding-top: 100px !important;
  }

  .jbs-xl-pt-110 {
    padding-top: 110px !important;
  }

  .jbs-xl-pt-120 {
    padding-top: 120px !important;
  }

  .jbs-xl-pt-130 {
    padding-top: 130px !important;
  }

  .jbs-xl-pt-140 {
    padding-top: 140px !important;
  }

  .jbs-xl-pt-150 {
    padding-top: 150px !important;
  }

  .jbs-xl-pt-200 {
    padding-top: 200px !important;
  }

  .jbs-xl-pb-10 {
    padding-bottom: 10px !important;
  }

  .jbs-xl-pb-20 {
    padding-bottom: 20px !important;
  }

  .jbs-xl-pb-30 {
    padding-bottom: 30px !important;
  }

  .jbs-xl-pb-40 {
    padding-bottom: 40px !important;
  }

  .jbs-xl-pb-50 {
    padding-bottom: 50px !important;
  }

  .jbs-xl-pb-60 {
    padding-bottom: 60px !important;
  }

  .jbs-xl-pb-70 {
    padding-bottom: 70px !important;
  }

  .jbs-xl-pb-80 {
    padding-bottom: 80px !important;
  }

  .jbs-xl-pb-90 {
    padding-bottom: 90px !important;
  }

  .jbs-xl-pb-100 {
    padding-bottom: 100px !important;
  }

  .jbs-xl-pb-110 {
    padding-bottom: 110px !important;
  }

  .jbs-xl-pb-120 {
    padding-bottom: 120px !important;
  }

  .jbs-xl-pb-130 {
    padding-bottom: 130px !important;
  }

  .jbs-xl-pb-140 {
    padding-bottom: 140px !important;
  }

  .jbs-xl-pb-150 {
    padding-bottom: 150px !important;
  }

  .jbs-xl-pb-200 {
    padding-bottom: 200px !important;
  }

  .jbs-xl-mt-10 {
    margin-top: 10px !important;
  }

  .jbs-xl-mt-20 {
    margin-top: 20px !important;
  }

  .jbs-xl-mt-30 {
    margin-top: 30px !important;
  }

  .jbs-xl-mt-40 {
    margin-top: 40px !important;
  }

  .jbs-xl-mt-50 {
    margin-top: 50px !important;
  }

  .jbs-xl-mt-60 {
    margin-top: 60px !important;
  }

  .jbs-xl-mt-70 {
    margin-top: 70px !important;
  }

  .jbs-xl-mt-80 {
    margin-top: 80px !important;
  }

  .jbs-xl-mt-90 {
    margin-top: 90px !important;
  }

  .jbs-xl-mt-100 {
    margin-top: 100px !important;
  }

  .jbs-xl-mt-110 {
    margin-top: 110px !important;
  }

  .jbs-xl-mt-120 {
    margin-top: 120px !important;
  }

  .jbs-xl-mt-130 {
    margin-top: 130px !important;
  }

  .jbs-xl-mt-140 {
    margin-top: 140px !important;
  }

  .jbs-xl-mt-150 {
    margin-top: 150px !important;
  }

  .jbs-xl-mt-200 {
    margin-top: 200px !important;
  }

  .jbs-xl-mb-10 {
    margin-bottom: 10px !important;
  }

  .jbs-xl-mb-20 {
    margin-bottom: 20px !important;
  }

  .jbs-xl-mb-30 {
    margin-bottom: 30px !important;
  }

  .jbs-xl-mb-40 {
    margin-bottom: 40px !important;
  }

  .jbs-xl-mb-50 {
    margin-bottom: 50px !important;
  }

  .jbs-xl-mb-60 {
    margin-bottom: 60px !important;
  }

  .jbs-xl-mb-70 {
    margin-bottom: 70px !important;
  }

  .jbs-xl-mb-80 {
    margin-bottom: 80px !important;
  }

  .jbs-xl-mb-90 {
    margin-bottom: 90px !important;
  }

  .jbs-xl-mb-100 {
    margin-bottom: 100px !important;
  }

  .jbs-xl-mb-110 {
    margin-bottom: 110px !important;
  }

  .jbs-xl-mb-120 {
    margin-bottom: 120px !important;
  }

  .jbs-xl-mb-130 {
    margin-bottom: 130px !important;
  }

  .jbs-xl-mb-140 {
    margin-bottom: 140px !important;
  }

  .jbs-xl-mb-150 {
    margin-bottom: 150px !important;
  }

  .jbs-xl-mb-200 {
    margin-bottom: 200px !important;
  }
}

/*(max-width: 1399px)*/

@media (max-width: 1199px) {
  .jbs-lg-p0 {
    padding: 0 !important;
  }

  .jbs-lg-m0 {
    margin: 0 !important;
  }

  .jbs-lg-pt-10 {
    padding-top: 10px !important;
  }

  .jbs-lg-pt-20 {
    padding-top: 20px !important;
  }

  .jbs-lg-pt-30 {
    padding-top: 30px !important;
  }

  .jbs-lg-pt-40 {
    padding-top: 40px !important;
  }

  .jbs-lg-pt-50 {
    padding-top: 50px !important;
  }

  .jbs-lg-pt-60 {
    padding-top: 60px !important;
  }

  .jbs-lg-pt-70 {
    padding-top: 70px !important;
  }

  .jbs-lg-pt-80 {
    padding-top: 80px !important;
  }

  .jbs-lg-pt-90 {
    padding-top: 90px !important;
  }

  .jbs-lg-pt-100 {
    padding-top: 100px !important;
  }

  .jbs-lg-pt-110 {
    padding-top: 110px !important;
  }

  .jbs-lg-pt-120 {
    padding-top: 120px !important;
  }

  .jbs-lg-pt-130 {
    padding-top: 130px !important;
  }

  .jbs-lg-pt-140 {
    padding-top: 140px !important;
  }

  .jbs-lg-pt-150 {
    padding-top: 150px !important;
  }

  .jbs-lg-pt-200 {
    padding-top: 200px !important;
  }

  .jbs-lg-pb-10 {
    padding-bottom: 10px !important;
  }

  .jbs-lg-pb-20 {
    padding-bottom: 20px !important;
  }

  .jbs-lg-pb-30 {
    padding-bottom: 30px !important;
  }

  .jbs-lg-pb-40 {
    padding-bottom: 40px !important;
  }

  .jbs-lg-pb-50 {
    padding-bottom: 50px !important;
  }

  .jbs-lg-pb-60 {
    padding-bottom: 60px !important;
  }

  .jbs-lg-pb-70 {
    padding-bottom: 70px !important;
  }

  .jbs-lg-pb-80 {
    padding-bottom: 80px !important;
  }

  .jbs-lg-pb-90 {
    padding-bottom: 90px !important;
  }

  .jbs-lg-pb-100 {
    padding-bottom: 100px !important;
  }

  .jbs-lg-pb-110 {
    padding-bottom: 110px !important;
  }

  .jbs-lg-pb-120 {
    padding-bottom: 120px !important;
  }

  .jbs-lg-pb-130 {
    padding-bottom: 130px !important;
  }

  .jbs-lg-pb-140 {
    padding-bottom: 140px !important;
  }

  .jbs-lg-pb-150 {
    padding-bottom: 150px !important;
  }

  .jbs-lg-pb-200 {
    padding-bottom: 200px !important;
  }

  .jbs-lg-mt-10 {
    margin-top: 10px !important;
  }

  .jbs-lg-mt-20 {
    margin-top: 20px !important;
  }

  .jbs-lg-mt-30 {
    margin-top: 30px !important;
  }

  .jbs-lg-mt-40 {
    margin-top: 40px !important;
  }

  .jbs-lg-mt-50 {
    margin-top: 50px !important;
  }

  .jbs-lg-mt-60 {
    margin-top: 60px !important;
  }

  .jbs-lg-mt-70 {
    margin-top: 70px !important;
  }

  .jbs-lg-mt-80 {
    margin-top: 80px !important;
  }

  .jbs-lg-mt-90 {
    margin-top: 90px !important;
  }

  .jbs-lg-mt-100 {
    margin-top: 100px !important;
  }

  .jbs-lg-mt-110 {
    margin-top: 110px !important;
  }

  .jbs-lg-mt-120 {
    margin-top: 120px !important;
  }

  .jbs-lg-mt-130 {
    margin-top: 130px !important;
  }

  .jbs-lg-mt-140 {
    margin-top: 140px !important;
  }

  .jbs-lg-mt-150 {
    margin-top: 150px !important;
  }

  .jbs-lg-mt-200 {
    margin-top: 200px !important;
  }

  .jbs-lg-mb-10 {
    margin-bottom: 10px !important;
  }

  .jbs-lg-mb-20 {
    margin-bottom: 20px !important;
  }

  .jbs-lg-mb-30 {
    margin-bottom: 30px !important;
  }

  .jbs-lg-mb-40 {
    margin-bottom: 40px !important;
  }

  .jbs-lg-mb-50 {
    margin-bottom: 50px !important;
  }

  .jbs-lg-mb-60 {
    margin-bottom: 60px !important;
  }

  .jbs-lg-mb-70 {
    margin-bottom: 70px !important;
  }

  .jbs-lg-mb-80 {
    margin-bottom: 80px !important;
  }

  .jbs-lg-mb-90 {
    margin-bottom: 90px !important;
  }

  .jbs-lg-mb-100 {
    margin-bottom: 100px !important;
  }

  .jbs-lg-mb-110 {
    margin-bottom: 110px !important;
  }

  .jbs-lg-mb-120 {
    margin-bottom: 120px !important;
  }

  .jbs-lg-mb-130 {
    margin-bottom: 130px !important;
  }

  .jbs-lg-mb-140 {
    margin-bottom: 140px !important;
  }

  .jbs-lg-mb-150 {
    margin-bottom: 150px !important;
  }

  .jbs-lg-mb-200 {
    margin-bottom: 200px !important;
  }
}

/*(max-width: 1199px)*/

@media (max-width: 991px) {
  .jbs-md-p0 {
    padding: 0 !important;
  }

  .jbs-md-m0 {
    margin: 0 !important;
  }

  .jbs-md-pt-10 {
    padding-top: 10px !important;
  }

  .jbs-md-pt-20 {
    padding-top: 20px !important;
  }

  .jbs-md-pt-30 {
    padding-top: 30px !important;
  }

  .jbs-md-pt-40 {
    padding-top: 40px !important;
  }

  .jbs-md-pt-50 {
    padding-top: 50px !important;
  }

  .jbs-md-pt-60 {
    padding-top: 60px !important;
  }

  .jbs-md-pt-70 {
    padding-top: 70px !important;
  }

  .jbs-md-pt-80 {
    padding-top: 80px !important;
  }

  .jbs-md-pt-90 {
    padding-top: 90px !important;
  }

  .jbs-md-pt-100 {
    padding-top: 100px !important;
  }

  .jbs-md-pt-110 {
    padding-top: 110px !important;
  }

  .jbs-md-pt-120 {
    padding-top: 120px !important;
  }

  .jbs-md-pt-130 {
    padding-top: 130px !important;
  }

  .jbs-md-pt-140 {
    padding-top: 140px !important;
  }

  .jbs-md-pt-150 {
    padding-top: 150px !important;
  }

  .jbs-md-pt-200 {
    padding-top: 200px !important;
  }

  .jbs-md-pb-10 {
    padding-bottom: 10px !important;
  }

  .jbs-md-pb-20 {
    padding-bottom: 20px !important;
  }

  .jbs-md-pb-30 {
    padding-bottom: 30px !important;
  }

  .jbs-md-pb-40 {
    padding-bottom: 40px !important;
  }

  .jbs-md-pb-50 {
    padding-bottom: 50px !important;
  }

  .jbs-md-pb-60 {
    padding-bottom: 60px !important;
  }

  .jbs-md-pb-70 {
    padding-bottom: 70px !important;
  }

  .jbs-md-pb-80 {
    padding-bottom: 80px !important;
  }

  .jbs-md-pb-90 {
    padding-bottom: 90px !important;
  }

  .jbs-md-pb-100 {
    padding-bottom: 100px !important;
  }

  .jbs-md-pb-110 {
    padding-bottom: 110px !important;
  }

  .jbs-md-pb-120 {
    padding-bottom: 120px !important;
  }

  .jbs-md-pb-130 {
    padding-bottom: 130px !important;
  }

  .jbs-md-pb-140 {
    padding-bottom: 140px !important;
  }

  .jbs-md-pb-150 {
    padding-bottom: 150px !important;
  }

  .jbs-md-pb-200 {
    padding-bottom: 200px !important;
  }

  .jbs-md-mt-10 {
    margin-top: 10px !important;
  }

  .jbs-md-mt-20 {
    margin-top: 20px !important;
  }

  .jbs-md-mt-30 {
    margin-top: 30px !important;
  }

  .jbs-md-mt-40 {
    margin-top: 40px !important;
  }

  .jbs-md-mt-50 {
    margin-top: 50px !important;
  }

  .jbs-md-mt-60 {
    margin-top: 60px !important;
  }

  .jbs-md-mt-70 {
    margin-top: 70px !important;
  }

  .jbs-md-mt-80 {
    margin-top: 80px !important;
  }

  .jbs-md-mt-90 {
    margin-top: 90px !important;
  }

  .jbs-md-mt-100 {
    margin-top: 100px !important;
  }

  .jbs-md-mt-110 {
    margin-top: 110px !important;
  }

  .jbs-md-mt-120 {
    margin-top: 120px !important;
  }

  .jbs-md-mt-130 {
    margin-top: 130px !important;
  }

  .jbs-md-mt-140 {
    margin-top: 140px !important;
  }

  .jbs-md-mt-150 {
    margin-top: 150px !important;
  }

  .jbs-md-mt-200 {
    margin-top: 200px !important;
  }

  .jbs-md-mb-10 {
    margin-bottom: 10px !important;
  }

  .jbs-md-mb-20 {
    margin-bottom: 20px !important;
  }

  .jbs-md-mb-30 {
    margin-bottom: 30px !important;
  }

  .jbs-md-mb-40 {
    margin-bottom: 40px !important;
  }

  .jbs-md-mb-50 {
    margin-bottom: 50px !important;
  }

  .jbs-md-mb-60 {
    margin-bottom: 60px !important;
  }

  .jbs-md-mb-70 {
    margin-bottom: 70px !important;
  }

  .jbs-md-mb-80 {
    margin-bottom: 80px !important;
  }

  .jbs-md-mb-90 {
    margin-bottom: 90px !important;
  }

  .jbs-md-mb-100 {
    margin-bottom: 100px !important;
  }

  .jbs-md-mb-110 {
    margin-bottom: 110px !important;
  }

  .jbs-md-mb-120 {
    margin-bottom: 120px !important;
  }

  .jbs-md-mb-130 {
    margin-bottom: 130px !important;
  }

  .jbs-md-mb-140 {
    margin-bottom: 140px !important;
  }

  .jbs-md-mb-150 {
    margin-bottom: 150px !important;
  }

  .jbs-md-mb-200 {
    margin-bottom: 200px !important;
  }
}

/*(max-width: 991px)*/


@media (max-width: 767px) {
  .jbs-sm-p0 {
    padding: 0 !important;
  }

  .jbs-sm-m0 {
    margin: 0 !important;
  }

  .jbs-sm-pt-10 {
    padding-top: 10px !important;
  }

  .jbs-sm-pt-20 {
    padding-top: 20px !important;
  }

  .jbs-sm-pt-30 {
    padding-top: 30px !important;
  }

  .jbs-sm-pt-40 {
    padding-top: 40px !important;
  }

  .jbs-sm-pt-50 {
    padding-top: 50px !important;
  }

  .jbs-sm-pt-60 {
    padding-top: 60px !important;
  }

  .jbs-sm-pt-70 {
    padding-top: 70px !important;
  }

  .jbs-sm-pt-80 {
    padding-top: 80px !important;
  }

  .jbs-sm-pt-90 {
    padding-top: 90px !important;
  }

  .jbs-sm-pt-100 {
    padding-top: 100px !important;
  }

  .jbs-sm-pt-110 {
    padding-top: 110px !important;
  }

  .jbs-sm-pt-120 {
    padding-top: 120px !important;
  }

  .jbs-sm-pt-130 {
    padding-top: 130px !important;
  }

  .jbs-sm-pt-140 {
    padding-top: 140px !important;
  }

  .jbs-sm-pt-150 {
    padding-top: 150px !important;
  }

  .jbs-sm-pt-200 {
    padding-top: 200px !important;
  }

  .jbs-sm-pb-10 {
    padding-bottom: 10px !important;
  }

  .jbs-sm-pb-20 {
    padding-bottom: 20px !important;
  }

  .jbs-sm-pb-30 {
    padding-bottom: 30px !important;
  }

  .jbs-sm-pb-40 {
    padding-bottom: 40px !important;
  }

  .jbs-sm-pb-50 {
    padding-bottom: 50px !important;
  }

  .jbs-sm-pb-60 {
    padding-bottom: 60px !important;
  }

  .jbs-sm-pb-70 {
    padding-bottom: 70px !important;
  }

  .jbs-sm-pb-80 {
    padding-bottom: 80px !important;
  }

  .jbs-sm-pb-90 {
    padding-bottom: 90px !important;
  }

  .jbs-sm-pb-100 {
    padding-bottom: 100px !important;
  }

  .jbs-sm-pb-110 {
    padding-bottom: 110px !important;
  }

  .jbs-sm-pb-120 {
    padding-bottom: 120px !important;
  }

  .jbs-sm-pb-130 {
    padding-bottom: 130px !important;
  }

  .jbs-sm-pb-140 {
    padding-bottom: 140px !important;
  }

  .jbs-sm-pb-150 {
    padding-bottom: 150px !important;
  }

  .jbs-sm-pb-200 {
    padding-bottom: 200px !important;
  }

  .jbs-sm-mt-10 {
    margin-top: 10px !important;
  }

  .jbs-sm-mt-20 {
    margin-top: 20px !important;
  }

  .jbs-sm-mt-30 {
    margin-top: 30px !important;
  }

  .jbs-sm-mt-40 {
    margin-top: 40px !important;
  }

  .jbs-sm-mt-50 {
    margin-top: 50px !important;
  }

  .jbs-sm-mt-60 {
    margin-top: 60px !important;
  }

  .jbs-sm-mt-70 {
    margin-top: 70px !important;
  }

  .jbs-sm-mt-80 {
    margin-top: 80px !important;
  }

  .jbs-sm-mt-90 {
    margin-top: 90px !important;
  }

  .jbs-sm-mt-100 {
    margin-top: 100px !important;
  }

  .jbs-sm-mt-110 {
    margin-top: 110px !important;
  }

  .jbs-sm-mt-120 {
    margin-top: 120px !important;
  }

  .jbs-sm-mt-130 {
    margin-top: 130px !important;
  }

  .jbs-sm-mt-140 {
    margin-top: 140px !important;
  }

  .jbs-sm-mt-150 {
    margin-top: 150px !important;
  }

  .jbs-sm-mt-200 {
    margin-top: 200px !important;
  }

  .jbs-sm-mb-10 {
    margin-bottom: 10px !important;
  }

  .jbs-sm-mb-20 {
    margin-bottom: 20px !important;
  }

  .jbs-sm-mb-30 {
    margin-bottom: 30px !important;
  }

  .jbs-sm-mb-40 {
    margin-bottom: 40px !important;
  }

  .jbs-sm-mb-50 {
    margin-bottom: 50px !important;
  }

  .jbs-sm-mb-60 {
    margin-bottom: 60px !important;
  }

  .jbs-sm-mb-70 {
    margin-bottom: 70px !important;
  }

  .jbs-sm-mb-80 {
    margin-bottom: 80px !important;
  }

  .jbs-sm-mb-90 {
    margin-bottom: 90px !important;
  }

  .jbs-sm-mb-100 {
    margin-bottom: 100px !important;
  }

  .jbs-sm-mb-110 {
    margin-bottom: 110px !important;
  }

  .jbs-sm-mb-120 {
    margin-bottom: 120px !important;
  }

  .jbs-sm-mb-130 {
    margin-bottom: 130px !important;
  }

  .jbs-sm-mb-140 {
    margin-bottom: 140px !important;
  }

  .jbs-sm-mb-150 {
    margin-bottom: 150px !important;
  }

  .jbs-sm-mb-200 {
    margin-bottom: 200px !important;
  }
}

/*(max-width: 767px)*/

@media (max-width: 575px) {
  .jbs-xs-p0 {
    padding: 0 !important;
  }

  .jbs-xs-m0 {
    margin: 0 !important;
  }

  .jbs-xs-pt-10 {
    padding-top: 10px !important;
  }

  .jbs-xs-pt-20 {
    padding-top: 20px !important;
  }

  .jbs-xs-pt-30 {
    padding-top: 30px !important;
  }

  .jbs-xs-pt-40 {
    padding-top: 40px !important;
  }

  .jbs-xs-pt-50 {
    padding-top: 50px !important;
  }

  .jbs-xs-pt-60 {
    padding-top: 60px !important;
  }

  .jbs-xs-pt-70 {
    padding-top: 70px !important;
  }

  .jbs-xs-pt-80 {
    padding-top: 80px !important;
  }

  .jbs-xs-pt-90 {
    padding-top: 90px !important;
  }

  .jbs-xs-pt-100 {
    padding-top: 100px !important;
  }

  .jbs-xs-pt-110 {
    padding-top: 110px !important;
  }

  .jbs-xs-pt-120 {
    padding-top: 120px !important;
  }

  .jbs-xs-pt-130 {
    padding-top: 130px !important;
  }

  .jbs-xs-pt-140 {
    padding-top: 140px !important;
  }

  .jbs-xs-pt-150 {
    padding-top: 150px !important;
  }

  .jbs-xs-pt-200 {
    padding-top: 200px !important;
  }

  .jbs-xs-pb-10 {
    padding-bottom: 10px !important;
  }

  .jbs-xs-pb-20 {
    padding-bottom: 20px !important;
  }

  .jbs-xs-pb-30 {
    padding-bottom: 30px !important;
  }

  .jbs-xs-pb-40 {
    padding-bottom: 40px !important;
  }

  .jbs-xs-pb-50 {
    padding-bottom: 50px !important;
  }

  .jbs-xs-pb-60 {
    padding-bottom: 60px !important;
  }

  .jbs-xs-pb-70 {
    padding-bottom: 70px !important;
  }

  .jbs-xs-pb-80 {
    padding-bottom: 80px !important;
  }

  .jbs-xs-pb-90 {
    padding-bottom: 90px !important;
  }

  .jbs-xs-pb-100 {
    padding-bottom: 100px !important;
  }

  .jbs-xs-pb-110 {
    padding-bottom: 110px !important;
  }

  .jbs-xs-pb-120 {
    padding-bottom: 120px !important;
  }

  .jbs-xs-pb-130 {
    padding-bottom: 130px !important;
  }

  .jbs-xs-pb-140 {
    padding-bottom: 140px !important;
  }

  .jbs-xs-pb-150 {
    padding-bottom: 150px !important;
  }

  .jbs-xs-pb-200 {
    padding-bottom: 200px !important;
  }

  .jbs-xs-mt-10 {
    margin-top: 10px !important;
  }

  .jbs-xs-mt-20 {
    margin-top: 20px !important;
  }

  .jbs-xs-mt-30 {
    margin-top: 30px !important;
  }

  .jbs-xs-mt-40 {
    margin-top: 40px !important;
  }

  .jbs-xs-mt-50 {
    margin-top: 50px !important;
  }

  .jbs-xs-mt-60 {
    margin-top: 60px !important;
  }

  .jbs-xs-mt-70 {
    margin-top: 70px !important;
  }

  .jbs-xs-mt-80 {
    margin-top: 80px !important;
  }

  .jbs-xs-mt-90 {
    margin-top: 90px !important;
  }

  .jbs-xs-mt-100 {
    margin-top: 100px !important;
  }

  .jbs-xs-mt-110 {
    margin-top: 110px !important;
  }

  .jbs-xs-mt-120 {
    margin-top: 120px !important;
  }

  .jbs-xs-mt-130 {
    margin-top: 130px !important;
  }

  .jbs-xs-mt-140 {
    margin-top: 140px !important;
  }

  .jbs-xs-mt-150 {
    margin-top: 150px !important;
  }

  .jbs-xs-mt-200 {
    margin-top: 200px !important;
  }

  .jbs-xs-mb-10 {
    margin-bottom: 10px !important;
  }

  .jbs-xs-mb-20 {
    margin-bottom: 20px !important;
  }

  .jbs-xs-mb-30 {
    margin-bottom: 30px !important;
  }

  .jbs-xs-mb-40 {
    margin-bottom: 40px !important;
  }

  .jbs-xs-mb-50 {
    margin-bottom: 50px !important;
  }

  .jbs-xs-mb-60 {
    margin-bottom: 60px !important;
  }

  .jbs-xs-mb-70 {
    margin-bottom: 70px !important;
  }

  .jbs-xs-mb-80 {
    margin-bottom: 80px !important;
  }

  .jbs-xs-mb-90 {
    margin-bottom: 90px !important;
  }

  .jbs-xs-mb-100 {
    margin-bottom: 100px !important;
  }

  .jbs-xs-mb-110 {
    margin-bottom: 110px !important;
  }

  .jbs-xs-mb-120 {
    margin-bottom: 120px !important;
  }

  .jbs-xs-mb-130 {
    margin-bottom: 130px !important;
  }

  .jbs-xs-mb-140 {
    margin-bottom: 140px !important;
  }

  .jbs-xs-mb-150 {
    margin-bottom: 150px !important;
  }

  .jbs-xs-mb-200 {
    margin-bottom: 200px !important;
  }
}