@media (max-width: 1199px) {
    .filter-area-tab .main-title {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width: 767px) {

    .feedback-section-five .slider-arrows,
    .related-job-section .slick-arrow-one {
        position: static;
    }
}
@media (max-width: 767px) {
    .dashboard-navbar {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }
    .dashboard-body{
        margin-left: 0 !important;
    }
}