body {
  &.wp-theme-docly {
    .jbs-job-details {
      padding-top: 180px;
      padding-bottom: 130px;
      @media (max-width: 768px) {
        padding-top: 160px;
      }
    }
  }
}

.jbs-job-details {
  .details-post-data {
    margin-bottom: 50px;
    .is-layout-constrained > * {
      max-width: 100% !important;
    }

    .wp-block-group {
      border: 1px solid #000000;
      border-radius: 20px;
      padding: 35px 40px 20px;
      margin-bottom: 30px;
      background: var(--bs-white, #fff);
      @media (max-width: 540px) {
        padding: 32px 24px 16px
      }

      .wp-block-heading {
        display: flex;
        align-items: center;
        font-size: 22px;
        margin: 0;
        color: #000 !important;

        code {
          mark {
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 100%;
            margin-right: 0.5rem;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        padding-left: 0;

        li {
          position: relative;
          font-size: 17px;
          margin-top: 20px;
          padding-left: 30px;
          line-height: 1.882em;
          list-style: none;

          &:before {
            content: "\f633";
            font-family: bootstrap-icons;
            position: absolute;
            left: 0;
            top: 0;
            color: var(--jbs-brand_color_1);
          }
        }
      }
    }
  }
}


.jbs-job-details-two {
  .share-buttons li .share-item {
    background-color: var(--jbs_brand_color_3_opt);
  }

  .job-meta-data-two {
    margin-bottom: 80px;

    i {
      color: var(--jbs-brand_color_1);
      font-size: 24px;
    }
  }

  .jbs-job-content {

    .has-global-padding {
      padding: 0 !important;
    }

    .is-layout-constrained > * {
      max-width: 100% !important;
    }

    .wp-block-heading {
      font-size: 22px;
      margin: 0;
      padding-top: 20px;

      code {
        display: none;
      }
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        position: relative;
        font-size: 17px;
        margin-top: 20px;
        padding-left: 30px;
        line-height: 1.882em;

        &::before {
          content: "\f26a";
          font-family: bootstrap-icons;
          position: absolute;
          left: 0;
          top: 0;
          color: var(--jbs-brand_color_1);
        }
      }
    }

    .btn-one {
      line-height: 50px;
      border-radius: 10px;
      color: #fff;
      background: var(--jbs-brand_color_1);
      width: 100%;
      padding: 0 26px;
      display: inline-block;
      box-sizing: border-box;

      &:hover {
        background: var(--jbs-brand_color_4);
      }
    }
  }

  .jbs-btn-one {
    line-height: 50px;
    border-radius: 10px;
    color: #fff;
    background: var(--jbs-brand_color_1);
    padding: 0 26px;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
      background: var(--jbs-brand_color_4);
    }
  }
}

.card-style-six .text {
  padding: 20px;
}