/*========== Login Form Styling ===========*/
.jobus-login-from, .jobus-logout-from {
  &.dashboard-body {
    margin-left: 0;

    .login_from {
      background-color: transparent;
    }
  }

  .logout_from {
    .user-data-form {
      .btn {
        line-height: 52px;
        max-width: 50%;
        margin: 0 auto;
        color: #fff;
      }
    }
  }
}

.user-data-form {
  .name {
    text-transform: capitalize;
  }

  .user-action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}