// ============================================
// Container
// ============================================

@use "variables" as *;

// Container
.jbs-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 16px;

  a {
    text-decoration: none !important;
    color: rgba(var(--jbs-brand_color_2), 0.7);
    // &:hover {
    //   color: #31795A;
    // }
  }

  p {
    line-height: 1.8;
  }
}

// Responsive Container
@media (min-width: 992px) {
    .jbs-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .jbs-container {
        max-width: 1140px;
    }
}

@media (min-width: 1300px) {
    .jbs-container {
        max-width: 1240px;
    }
}

@media (min-width: 1400px) {
    .jbs-container {
        max-width: 1320px;
    }
}
