// ============================================
// Container
// ============================================

@use "variables" as *;

// Container
.jbs-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    a{
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6, p{
        font-size: 16px;
         line-height: 2em;
    }
    font-size: 16px;
    line-height: 2em;
}

// Responsive Container
@media (min-width: 992px) {
    .jbs-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .jbs-container {
        max-width: 1140px;
    }
}

@media (min-width: 1300px) {
    .jbs-container {
        max-width: 1240px;
    }
}

@media (min-width: 1400px) {
    .jbs-container {
        max-width: 1320px;
    }
}
