 .jbs-d-flex {
     display: flex;
 }

 .jbs-d-sm-flex {
     display: flex !important
 }

 @media (min-width: 992px) {
     .jbs-d-lg-none {
         display: none !important;
     }
 }

 .jbs-flex-wrap {
     flex-wrap: wrap !important;
 }


 .jbs-align-items-start {
     align-items: flex-start !important;
 }

 .jbs-align-items-xl-center {
     align-items: center !important
 }

 .jbs-justify-content-md-end {
     justify-content: flex-end !important;
 }

 .jbs-order-xl-3 {
     order: 3 !important
 }