// ============================================
// Position Utilities
// ============================================

// Position
.jbs-position-static { position: static !important; }
.jbs-position-relative { position: relative !important; }
.jbs-position-absolute { position: absolute !important; }
.jbs-position-fixed { position: fixed !important; }
.jbs-position-sticky { position: sticky !important; }
