// ============================================
// Rounded Utilities
// ============================================

.jbs-rounded { border-radius: 0.25rem !important; }
.jbs-rounded-0 { border-radius: 0 !important; }
.jbs-rounded-1 { border-radius: 0.2rem !important; }
.jbs-rounded-2 { border-radius: 0.25rem !important; }
.jbs-rounded-3 { border-radius: 0.375rem !important; }
.jbs-rounded-circle { border-radius: 50% !important; }
.jbs-rounded-pill { border-radius: 50rem !important; }
