// ============================================
// Shadow Utilities
// ============================================

// Shadow
.jbs-shadow { box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; }
.jbs-shadow-sm { box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important; }
.jbs-shadow-lg { box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important; }
.jbs-shadow-none { box-shadow: none !important; }
