.widefat {
  .column-applicant_photo {
    width: 40px;
  }
}

.post-type-jobus_applicant {
  #post-body-content {
    margin-bottom: 0;
  }
}

#applicant-details-meta-box {
  .postbox-header {
    display: none;
  }

  .inside {
    margin: 0;
    padding: 0;
  }
}

.jobus-application-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  .applicant-image-details {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    padding: 20px 23px;
    text-align: center;

    .applicant-image {
      margin-bottom: 20px;

      img {
        -webkit-border-radius: 100%;
        border-radius: 100%;
      }

      .applicant-resume-btn {
        height: auto;
        line-height: 1.3;
        background-color: #d1f1ff;
        border-color: #0271a1;
        color: #0271a1;
        padding: 10px;
        font-size: 14px;

        span {
          display: block;
        }
      }
    }

    .applicant-content-details {
      flex-basis: 80%;
      border-left: 1px solid #dadfe5;

      .details-list {
        margin: 0;
        padding: 0;

        li {
          padding: 15px 15px 15px 30px;
          border-bottom: 1px solid #dadfe5;
          font-size: 14px;
          margin: 0;

          &:last-child {
            border-bottom: none;
          }

          label {
            font-weight: 700;
          }

          span {
            display: block;
          }
        }
      }
    }
  }
}