.jobus-pro-notice {
  &.csf-field {
    position: relative;
    cursor: pointer;
  }
}

// Case 1: Body NOT jobus-premium, show badge on all .jobus-pro-notice except those with active-theme-*
body:not(.jobus-premium) {
  .jobus-pro-notice.csf-field:not([class*="active-theme"]) {
    &::before {
      content: "Pro";
      background-color: #f1bd6c;
      color: #000;
      padding: 3px 10px;
      border-radius: 3px;
      margin-bottom: 10px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      z-index: 2;
    }
  }

  .jobus-pro-notice:not([class*="active-theme"]) .csf-title,
  .jobus-pro-notice:not([class*="active-theme"]) .csf-fieldset {
    opacity: 0.5;
    pointer-events: none;
  }
}

// Case 2: Body NOT valid, show badge only on jobus-pro-notice with active-theme-* classes
body:not(.valid):not(.jobus-premium) {
  .jobus-pro-notice.csf-field[class*="active-theme"] {
    &::before {
      content: "Pro";
      background-color: #f1bd6c;
      color: #000;
      padding: 3px 10px;
      border-radius: 3px;
      margin-bottom: 10px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      z-index: 2;
    }
  }

  .jobus-pro-notice[class*="active-theme"] .csf-title,
  .jobus-pro-notice[class*="active-theme"] .csf-fieldset {
    opacity: 0.5;
    pointer-events: none;
  }
}